<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="avicit.pb.pojo.partyRestPojo.dynjwdydhzb.dao.DynJwDydhzbDAO">
<resultMap id="DynJwDydhzbDTOMap" type="avicit.pb.pojo.partyRestPojo.dynjwdydhzb.dto.DynJwDydhzbDTO">
	<result property="createdBy" column="CREATED_BY" jdbcType="VARCHAR" />
	<result property="lastUpdatedBy" column="LAST_UPDATED_BY" jdbcType="VARCHAR" />
	<result property="post" column="POST" jdbcType="VARCHAR" />
	<result property="fkSubColId" column="FK_SUB_COL_ID" jdbcType="VARCHAR" />
	<result property="creationDate" column="CREATION_DATE" jdbcType="TIMESTAMP" />
	<result property="timeWork" column="TIME_WORK" jdbcType="VARCHAR" />
	<result property="proTitle" column="PRO_TITLE" jdbcType="VARCHAR" />
	<result property="numberVotes" column="NUMBER_VOTES" jdbcType="VARCHAR" />
	<result property="lastUpdateDate" column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" />
	<result property="name" column="NAME" jdbcType="VARCHAR" />
	<result property="divisionLabor" column="DIVISION_LABOR" jdbcType="VARCHAR" />
	<result property="version" column="VERSION" jdbcType="DECIMAL" />
	<result property="gender" column="GENDER" jdbcType="VARCHAR" />
	<result property="timeJoin" column="TIME_JOIN" jdbcType="VARCHAR" />
	<result property="sn" column="SN" jdbcType="VARCHAR" />
	<result property="id" column="ID" jdbcType="VARCHAR" />
	<result property="createdDept" column="CREATED_DEPT" jdbcType="VARCHAR" />
	<result property="orgIdentity" column="ORG_IDENTITY" jdbcType="VARCHAR" />
	<result property="lastUpdateIp" column="LAST_UPDATE_IP" jdbcType="VARCHAR" />
	<result property="birthday" column="BIRTHDAY" jdbcType="VARCHAR" />
	<result property="tel" column="TEL" jdbcType="VARCHAR" />
</resultMap>
<sql id="commonColums">
	<trim suffixOverrides=",">
	t1.CREATED_BY,
	t1.LAST_UPDATED_BY,
	t1.POST,
	t1.FK_SUB_COL_ID,
	t1.CREATION_DATE,
	t1.TIME_WORK,
	t1.PRO_TITLE,
	t1.NUMBER_VOTES,
	t1.LAST_UPDATE_DATE,
	t1.NAME,
	t1.DIVISION_LABOR,
	t1.VERSION,
	t1.GENDER,
	t1.TIME_JOIN,
	t1.SN,
	t1.ID,
	t1.CREATED_DEPT,
	t1.ORG_IDENTITY,
	t1.LAST_UPDATE_IP,
	t1.BIRTHDAY,
	t1.TEL,
	</trim>
</sql>
<!-- 默认查询条件 -->
<sql id="defaultWhereAnd">
	<if test="bean.orgIdentity != null and bean.orgIdentity != ''">
		and t1.org_identity = #{bean.orgIdentity}
	</if>
</sql>
<sql id="commonWhereAnd">
	<if test="bean.createdBy != null and bean.createdBy != ''">
		and t1.CREATED_BY = #{bean.createdBy}
	</if>
	<if test="bean.lastUpdatedBy != null and bean.lastUpdatedBy != ''">
		and t1.LAST_UPDATED_BY = #{bean.lastUpdatedBy}
	</if>
	<if test="bean.post != null and bean.post != ''">
		and t1.POST like concat(concat('%',#{bean.post}),'%')
	</if>
	<if test="bean.fkSubColId != null and bean.fkSubColId != ''">
		and t1.FK_SUB_COL_ID like concat(concat('%',#{bean.fkSubColId}),'%')
	</if>
	<if test="bean.creationDateBegin != null">
		and t1.CREATION_DATE &gt;= #{bean.creationDateBegin}
	</if>
	<if test="bean.creationDateEnd != null">
		and t1.CREATION_DATE &lt;= #{bean.creationDateEnd}
	</if>
	<if test="bean.timeWork != null and bean.timeWork != ''">
		and t1.TIME_WORK like concat(concat('%',#{bean.timeWork}),'%')
	</if>
	<if test="bean.proTitle != null and bean.proTitle != ''">
		and t1.PRO_TITLE like concat(concat('%',#{bean.proTitle}),'%')
	</if>
	<if test="bean.numberVotes != null and bean.numberVotes != ''">
		and t1.NUMBER_VOTES like concat(concat('%',#{bean.numberVotes}),'%')
	</if>
	<if test="bean.lastUpdateDateBegin != null">
		and t1.LAST_UPDATE_DATE &gt;= #{bean.lastUpdateDateBegin}
	</if>
	<if test="bean.lastUpdateDateEnd != null">
		and t1.LAST_UPDATE_DATE &lt;= #{bean.lastUpdateDateEnd}
	</if>
	<if test="bean.name != null and bean.name != ''">
		and t1.NAME like concat(concat('%',#{bean.name}),'%')
	</if>
	<if test="bean.divisionLabor != null and bean.divisionLabor != ''">
		and t1.DIVISION_LABOR like concat(concat('%',#{bean.divisionLabor}),'%')
	</if>
	<if test="bean.version != null">
		and t1.VERSION = #{bean.version}
	</if>
	<if test="bean.gender != null and bean.gender != ''">
		and t1.GENDER like concat(concat('%',#{bean.gender}),'%')
	</if>
	<if test="bean.timeJoin != null and bean.timeJoin != ''">
		and t1.TIME_JOIN like concat(concat('%',#{bean.timeJoin}),'%')
	</if>
	<if test="bean.sn != null and bean.sn != ''">
		and t1.SN like concat(concat('%',#{bean.sn}),'%')
	</if>
	<if test="bean.id != null and bean.id != ''">
		and t1.ID = #{bean.id}
	</if>
	<if test="bean.createdDept != null and bean.createdDept != ''">
		and t1.CREATED_DEPT = #{bean.createdDept}
	</if>
	<if test="bean.lastUpdateIp != null and bean.lastUpdateIp != ''">
		and t1.LAST_UPDATE_IP = #{bean.lastUpdateIp}
	</if>
	<if test="bean.birthday != null and bean.birthday != ''">
		and t1.BIRTHDAY like concat(concat('%',#{bean.birthday}),'%')
	</if>
	<if test="bean.tel != null and bean.tel != ''">
		and t1.TEL like concat(concat('%',#{bean.tel}),'%')
	</if>
</sql>
<sql id="commonWhereOr">
	<trim prefix="(" suffix=")" prefixOverrides="or">
	<if test="bean.createdBy != null and bean.createdBy != ''">
		or t1.CREATED_BY = #{bean.createdBy}
	</if>
	<if test="bean.lastUpdatedBy != null and bean.lastUpdatedBy != ''">
		or t1.LAST_UPDATED_BY = #{bean.lastUpdatedBy}
	</if>
	<if test="bean.post != null and bean.post != ''">
		or t1.POST like concat(concat('%',#{bean.post}),'%')
	</if>
	<if test="bean.fkSubColId != null and bean.fkSubColId != ''">
		or t1.FK_SUB_COL_ID like concat(concat('%',#{bean.fkSubColId}),'%')
	</if>
	<if test="bean.creationDateBegin != null">
		or t1.CREATION_DATE &gt;= #{bean.creationDateBegin}
	</if>
	<if test="bean.creationDateEnd != null">
		or t1.CREATION_DATE &lt;= #{bean.creationDateEnd}
	</if>
	<if test="bean.timeWork != null and bean.timeWork != ''">
		or t1.TIME_WORK like concat(concat('%',#{bean.timeWork}),'%')
	</if>
	<if test="bean.proTitle != null and bean.proTitle != ''">
		or t1.PRO_TITLE like concat(concat('%',#{bean.proTitle}),'%')
	</if>
	<if test="bean.numberVotes != null and bean.numberVotes != ''">
		or t1.NUMBER_VOTES like concat(concat('%',#{bean.numberVotes}),'%')
	</if>
	<if test="bean.lastUpdateDateBegin != null">
		or t1.LAST_UPDATE_DATE &gt;= #{bean.lastUpdateDateBegin}
	</if>
	<if test="bean.lastUpdateDateEnd != null">
		or t1.LAST_UPDATE_DATE &lt;= #{bean.lastUpdateDateEnd}
	</if>
	<if test="bean.name != null and bean.name != ''">
		or t1.NAME like concat(concat('%',#{bean.name}),'%')
	</if>
	<if test="bean.divisionLabor != null and bean.divisionLabor != ''">
		or t1.DIVISION_LABOR like concat(concat('%',#{bean.divisionLabor}),'%')
	</if>
	<if test="bean.version != null">
		or t1.VERSION = #{bean.version}
	</if>
	<if test="bean.gender != null and bean.gender != ''">
		or t1.GENDER like concat(concat('%',#{bean.gender}),'%')
	</if>
	<if test="bean.timeJoin != null and bean.timeJoin != ''">
		or t1.TIME_JOIN like concat(concat('%',#{bean.timeJoin}),'%')
	</if>
	<if test="bean.sn != null and bean.sn != ''">
		or t1.SN like concat(concat('%',#{bean.sn}),'%')
	</if>
	<if test="bean.id != null and bean.id != ''">
		or t1.ID = #{bean.id}
	</if>
	<if test="bean.createdDept != null and bean.createdDept != ''">
		or t1.CREATED_DEPT = #{bean.createdDept}
	</if>
	<if test="bean.lastUpdateIp != null and bean.lastUpdateIp != ''">
		or t1.LAST_UPDATE_IP = #{bean.lastUpdateIp}
	</if>
	<if test="bean.birthday != null and bean.birthday != ''">
		or t1.BIRTHDAY like concat(concat('%',#{bean.birthday}),'%')
	</if>
	<if test="bean.tel != null and bean.tel != ''">
		or t1.TEL like concat(concat('%',#{bean.tel}),'%')
	</if>
	</trim>
</sql>
<sql id="commonOrderBy">
	<choose>
		<when test="pOrderBy != null and pOrderBy != ''">
			order by ${pOrderBy}
		</when>
		<otherwise>
			order by t1.creation_date desc
		</otherwise>
	</choose>
</sql>

<!-- 分页查询 DYN_JW_DYDHZB -->
<select id="searchDynJwDydhzbByPage" parameterType="java.util.Map" resultMap="DynJwDydhzbDTOMap">
	select
	<include refid="commonColums"/>
	from DYN_JW_DYDHZB t1
	<where>
		<if test="bean != null">
			<choose>
				<when test="keyWord != null and keyWord != '' ">
					<include refid="commonWhereOr"/>
				</when>
				<otherwise>
					<include refid="commonWhereAnd"/>
				</otherwise>
			</choose>
			<include refid="defaultWhereAnd"/>
		</if>
	</where>
	<include refid="commonOrderBy"></include>
</select>
<!-- 查询列表 DYN_JW_DYDHZB -->
<select id="searchDynJwDydhzb" parameterType="java.util.Map" resultMap="DynJwDydhzbDTOMap">
	select
	<include refid="commonColums"/>
	from DYN_JW_DYDHZB t1
	<where>
		<if test="bean != null">
			<choose>
				<when test="keyWord != null and keyWord != '' ">
					<include refid="commonWhereOr"/>
				</when>
				<otherwise>
					<include refid="commonWhereAnd"/>
				</otherwise>
			</choose>
			<include refid="defaultWhereAnd"/>
		</if>
	</where>
	<include refid="commonOrderBy"></include>
</select>
<!-- 查询 DYN_JW_DYDHZB（导出） -->
<select id="searchDynJwDydhzbForExport" parameterType="java.util.Map" resultMap="DynJwDydhzbDTOMap">
	select
	<include refid="commonColums"/>
	from DYN_JW_DYDHZB t1
	<where>
		<if test="bean != null">
			<include refid="commonWhereAnd"/>
			<include refid="defaultWhereAnd"/>
		</if>
		<if test="ids != null and ids.size > 0">
			and t1.id in
			<foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</where>
	order by t1.creation_date desc
</select>
<!-- 主键查询对象 DYN_JW_DYDHZB -->
<select id="findDynJwDydhzbById" parameterType="java.lang.String" resultMap="DynJwDydhzbDTOMap">
	select
	<include refid="commonColums"/>
	from DYN_JW_DYDHZB t1
	where t1.id = #{id}
</select>
<!-- 新增对象 DYN_JW_DYDHZB -->
<insert id="insertDynJwDydhzb" parameterType="avicit.pb.pojo.partyRestPojo.dynjwdydhzb.dto.DynJwDydhzbDTO">
	insert into DYN_JW_DYDHZB
	<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="createdBy != null">
			CREATED_BY,
		</if>
		<if test="lastUpdatedBy != null">
			LAST_UPDATED_BY,
		</if>
		<if test="post != null">
			POST,
		</if>
		<if test="fkSubColId != null">
			FK_SUB_COL_ID,
		</if>
		<if test="creationDate != null">
			CREATION_DATE,
		</if>
		<if test="timeWork != null">
			TIME_WORK,
		</if>
		<if test="proTitle != null">
			PRO_TITLE,
		</if>
		<if test="numberVotes != null">
			NUMBER_VOTES,
		</if>
		<if test="lastUpdateDate != null">
			LAST_UPDATE_DATE,
		</if>
		<if test="name != null">
			NAME,
		</if>
		<if test="divisionLabor != null">
			DIVISION_LABOR,
		</if>
		<if test="version != null">
			VERSION,
		</if>
		<if test="gender != null">
			GENDER,
		</if>
		<if test="timeJoin != null">
			TIME_JOIN,
		</if>
		<if test="sn != null">
			SN,
		</if>
		<if test="id != null">
			ID,
		</if>
		<if test="createdDept != null">
			CREATED_DEPT,
		</if>
		<if test="orgIdentity != null">
			ORG_IDENTITY,
		</if>
		<if test="lastUpdateIp != null">
			LAST_UPDATE_IP,
		</if>
		<if test="birthday != null">
			BIRTHDAY,
		</if>
		<if test="tel != null">
			TEL,
		</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="createdBy != null">
			#{createdBy,jdbcType = VARCHAR},
		</if>
		<if test="lastUpdatedBy != null">
			#{lastUpdatedBy,jdbcType = VARCHAR},
		</if>
		<if test="post != null">
			#{post,jdbcType = VARCHAR},
		</if>
		<if test="fkSubColId != null">
			#{fkSubColId,jdbcType = VARCHAR},
		</if>
		<if test="creationDate != null">
			#{creationDate,jdbcType = TIMESTAMP},
		</if>
		<if test="timeWork != null">
			#{timeWork,jdbcType = VARCHAR},
		</if>
		<if test="proTitle != null">
			#{proTitle,jdbcType = VARCHAR},
		</if>
		<if test="numberVotes != null">
			#{numberVotes,jdbcType = VARCHAR},
		</if>
		<if test="lastUpdateDate != null">
			#{lastUpdateDate,jdbcType = TIMESTAMP},
		</if>
		<if test="name != null">
			#{name,jdbcType = VARCHAR},
		</if>
		<if test="divisionLabor != null">
			#{divisionLabor,jdbcType = VARCHAR},
		</if>
		<if test="version != null">
			#{version,jdbcType = DECIMAL},
		</if>
		<if test="gender != null">
			#{gender,jdbcType = VARCHAR},
		</if>
		<if test="timeJoin != null">
			#{timeJoin,jdbcType = VARCHAR},
		</if>
		<if test="sn != null">
			#{sn,jdbcType = VARCHAR},
		</if>
		<if test="id != null">
			#{id,jdbcType = VARCHAR},
		</if>
		<if test="createdDept != null">
			#{createdDept,jdbcType = VARCHAR},
		</if>
		<if test="orgIdentity != null">
			#{orgIdentity,jdbcType = VARCHAR},
		</if>
		<if test="lastUpdateIp != null">
			#{lastUpdateIp,jdbcType = VARCHAR},
		</if>
		<if test="birthday != null">
			#{birthday,jdbcType = VARCHAR},
		</if>
		<if test="tel != null">
			#{tel,jdbcType = VARCHAR},
		</if>
	</trim>
</insert>
<!-- 批量新增对象 DYN_JW_DYDHZB -->
<insert id="insertDynJwDydhzbList" parameterType="java.util.List">
	insert into DYN_JW_DYDHZB(
	CREATED_BY ,
	LAST_UPDATED_BY ,
	POST ,
	FK_SUB_COL_ID ,
	CREATION_DATE ,
	TIME_WORK ,
	PRO_TITLE ,
	NUMBER_VOTES ,
	LAST_UPDATE_DATE ,
	NAME ,
	DIVISION_LABOR ,
	VERSION ,
	GENDER ,
	TIME_JOIN ,
	SN ,
	ID ,
	CREATED_DEPT ,
	ORG_IDENTITY ,
	LAST_UPDATE_IP ,
	BIRTHDAY ,
	TEL )
<foreach collection="dtoList" item="item" index="index" open="(" separator="union all" close=")">
	select
	#{item.createdBy,jdbcType = VARCHAR} ,
	#{item.lastUpdatedBy,jdbcType = VARCHAR} ,
	#{item.post,jdbcType = VARCHAR} ,
	#{item.fkSubColId,jdbcType = VARCHAR} ,
	#{item.creationDate,jdbcType = TIMESTAMP} ,
	#{item.timeWork,jdbcType = VARCHAR} ,
	#{item.proTitle,jdbcType = VARCHAR} ,
	#{item.numberVotes,jdbcType = VARCHAR} ,
	#{item.lastUpdateDate,jdbcType = TIMESTAMP} ,
	#{item.name,jdbcType = VARCHAR} ,
	#{item.divisionLabor,jdbcType = VARCHAR} ,
	#{item.version,jdbcType = DECIMAL} ,
	#{item.gender,jdbcType = VARCHAR} ,
	#{item.timeJoin,jdbcType = VARCHAR} ,
	#{item.sn,jdbcType = VARCHAR} ,
	#{item.id,jdbcType = VARCHAR} ,
	#{item.createdDept,jdbcType = VARCHAR} ,
	#{item.orgIdentity,jdbcType = VARCHAR} ,
	#{item.lastUpdateIp,jdbcType = VARCHAR} ,
	#{item.birthday,jdbcType = VARCHAR} ,
	#{item.tel,jdbcType = VARCHAR} 	from dual
</foreach>
</insert>
<!-- 更新对象 DYN_JW_DYDHZB -->
<update id="updateDynJwDydhzbSensitive" parameterType="avicit.pb.pojo.partyRestPojo.dynjwdydhzb.dto.DynJwDydhzbDTO">
	update DYN_JW_DYDHZB
	<set>
		<trim suffixOverrides=",">
			<if test="createdBy != null">
				CREATED_BY = #{createdBy,jdbcType = VARCHAR},
			</if>
			<if test="lastUpdatedBy != null">
				LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType = VARCHAR},
			</if>
			<if test="post != null">
				POST = #{post,jdbcType = VARCHAR},
			</if>
			<if test="fkSubColId != null">
				FK_SUB_COL_ID = #{fkSubColId,jdbcType = VARCHAR},
			</if>
			<if test="creationDate != null">
				CREATION_DATE = #{creationDate,jdbcType = TIMESTAMP},
			</if>
			<if test="timeWork != null">
				TIME_WORK = #{timeWork,jdbcType = VARCHAR},
			</if>
			<if test="proTitle != null">
				PRO_TITLE = #{proTitle,jdbcType = VARCHAR},
			</if>
			<if test="numberVotes != null">
				NUMBER_VOTES = #{numberVotes,jdbcType = VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType = TIMESTAMP},
			</if>
			<if test="name != null">
				NAME = #{name,jdbcType = VARCHAR},
			</if>
			<if test="divisionLabor != null">
				DIVISION_LABOR = #{divisionLabor,jdbcType = VARCHAR},
			</if>
			<if test="version != null">
				VERSION = version+1,
			</if>
			<if test="gender != null">
				GENDER = #{gender,jdbcType = VARCHAR},
			</if>
			<if test="timeJoin != null">
				TIME_JOIN = #{timeJoin,jdbcType = VARCHAR},
			</if>
			<if test="sn != null">
				SN = #{sn,jdbcType = VARCHAR},
			</if>
			<if test="id != null">
				ID = #{id,jdbcType = VARCHAR},
			</if>
			<if test="createdDept != null">
				CREATED_DEPT = #{createdDept,jdbcType = VARCHAR},
			</if>
			<if test="orgIdentity != null">
				ORG_IDENTITY = #{orgIdentity,jdbcType = VARCHAR},
			</if>
			<if test="lastUpdateIp != null">
				LAST_UPDATE_IP = #{lastUpdateIp,jdbcType = VARCHAR},
			</if>
			<if test="birthday != null">
				BIRTHDAY = #{birthday,jdbcType = VARCHAR},
			</if>
			<if test="tel != null">
				TEL = #{tel,jdbcType = VARCHAR},
			</if>
		</trim>
	</set>
	where id = #{id} 
	and version = #{version}
</update>
<!-- 更新对象 DYN_JW_DYDHZB -->
<update id="updateDynJwDydhzbAll" parameterType="avicit.pb.pojo.partyRestPojo.dynjwdydhzb.dto.DynJwDydhzbDTO">
	update DYN_JW_DYDHZB
	set
	CREATED_BY = #{createdBy,jdbcType = VARCHAR} ,
	LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType = VARCHAR} ,
	POST = #{post,jdbcType = VARCHAR} ,
	FK_SUB_COL_ID = #{fkSubColId,jdbcType = VARCHAR} ,
	CREATION_DATE = #{creationDate,jdbcType = TIMESTAMP} ,
	TIME_WORK = #{timeWork,jdbcType = VARCHAR} ,
	PRO_TITLE = #{proTitle,jdbcType = VARCHAR} ,
	NUMBER_VOTES = #{numberVotes,jdbcType = VARCHAR} ,
	LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType = TIMESTAMP} ,
	NAME = #{name,jdbcType = VARCHAR} ,
	DIVISION_LABOR = #{divisionLabor,jdbcType = VARCHAR} ,
	VERSION = version+1 ,
	GENDER = #{gender,jdbcType = VARCHAR} ,
	TIME_JOIN = #{timeJoin,jdbcType = VARCHAR} ,
	SN = #{sn,jdbcType = VARCHAR} ,
	ID = #{id,jdbcType = VARCHAR} ,
	CREATED_DEPT = #{createdDept,jdbcType = VARCHAR} ,
	ORG_IDENTITY = #{orgIdentity,jdbcType = VARCHAR} ,
	LAST_UPDATE_IP = #{lastUpdateIp,jdbcType = VARCHAR} ,
	BIRTHDAY = #{birthday,jdbcType = VARCHAR} ,
	TEL = #{tel,jdbcType = VARCHAR} 	where id = #{id}
	and version = #{version}
</update>
<!-- 批量更新对象   DYN_JW_DYDHZB -->
<update id="updateDynJwDydhzbList" parameterType="java.util.List">
	<foreach collection="dtoList" item="item" index="index" open="begin" separator=";" close=";end;">
		update DYN_JW_DYDHZB
		set
		CREATED_BY = #{item.createdBy,jdbcType = VARCHAR} ,
		LAST_UPDATED_BY = #{item.lastUpdatedBy,jdbcType = VARCHAR} ,
		POST = #{item.post,jdbcType = VARCHAR} ,
		FK_SUB_COL_ID = #{item.fkSubColId,jdbcType = VARCHAR} ,
		CREATION_DATE = #{item.creationDate,jdbcType = TIMESTAMP} ,
		TIME_WORK = #{item.timeWork,jdbcType = VARCHAR} ,
		PRO_TITLE = #{item.proTitle,jdbcType = VARCHAR} ,
		NUMBER_VOTES = #{item.numberVotes,jdbcType = VARCHAR} ,
		LAST_UPDATE_DATE = #{item.lastUpdateDate,jdbcType = TIMESTAMP} ,
		NAME = #{item.name,jdbcType = VARCHAR} ,
		DIVISION_LABOR = #{item.divisionLabor,jdbcType = VARCHAR} ,
		VERSION = version+1  ,
		GENDER = #{item.gender,jdbcType = VARCHAR} ,
		TIME_JOIN = #{item.timeJoin,jdbcType = VARCHAR} ,
		SN = #{item.sn,jdbcType = VARCHAR} ,
		ID = #{item.id,jdbcType = VARCHAR} ,
		CREATED_DEPT = #{item.createdDept,jdbcType = VARCHAR} ,
		ORG_IDENTITY = #{item.orgIdentity,jdbcType = VARCHAR} ,
		LAST_UPDATE_IP = #{item.lastUpdateIp,jdbcType = VARCHAR} ,
		BIRTHDAY = #{item.birthday,jdbcType = VARCHAR} ,
		TEL = #{item.tel,jdbcType = VARCHAR} 		where id = #{item.id}
		and version = #{item.version}
	</foreach>
</update>
<!-- 主键删除 DYN_JW_DYDHZB -->
<delete id="deleteDynJwDydhzbById" parameterType="java.lang.String">
	delete from DYN_JW_DYDHZB  where id = #{id}
</delete>
</mapper>