<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="avicit.tu.dyntumodelworkerf.dao.DynTuModelWorkerFDAO">
<resultMap id="DynTuModelWorkerFDTOMap" type="avicit.tu.dyntumodelworkerf.dto.DynTuModelWorkerFDTO">
	<result property="requestUserId" column="REQUEST_USER_ID" jdbcType="VARCHAR" />
	<result property="deptName" column="DEPT_NAME" jdbcType="VARCHAR" />
	<result property="blob" column="BLOB" jdbcType="BLOB" javaType="byte[]" />
	<result property="data11" column="DATA_11" jdbcType="DECIMAL" />
	<result property="data10" column="DATA_10" jdbcType="TIMESTAMP" />
	<result property="modelCountry" column="MODEL_COUNTRY" jdbcType="VARCHAR" />
	<result property="modelEconomize" column="MODEL_ECONOMIZE" jdbcType="VARCHAR" />
	<result property="requestUser" column="REQUEST_USER" jdbcType="VARCHAR" />
	<result property="lastUpdateDate" column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" />
	<result property="annex" column="ANNEX" jdbcType="VARCHAR" />
	<result property="honorOrgan" column="HONOR_ORGAN" jdbcType="VARCHAR" />
	<result property="data1" column="DATA_1" jdbcType="VARCHAR" />
	<result property="data2" column="DATA_2" jdbcType="VARCHAR" />
	<result property="honorName" column="HONOR_NAME" jdbcType="VARCHAR" />
	<result property="data3" column="DATA_3" jdbcType="VARCHAR" />
	<result property="data4" column="DATA_4" jdbcType="VARCHAR" />
	<result property="id" column="ID" jdbcType="VARCHAR" />
	<result property="createdDept" column="CREATED_DEPT" jdbcType="VARCHAR" />
	<result property="lastUpdateIp" column="LAST_UPDATE_IP" jdbcType="VARCHAR" />
	<result property="createdBy" column="CREATED_BY" jdbcType="VARCHAR" />
	<result property="deptId" column="DEPT_ID" jdbcType="VARCHAR" />
	<result property="data9" column="DATA_9" jdbcType="VARCHAR" />
	<result property="lastUpdatedBy" column="LAST_UPDATED_BY" jdbcType="VARCHAR" />
	<result property="modelName" column="MODEL_NAME" jdbcType="VARCHAR" />
    <result property="clob" column="CLOB" jdbcType="CLOB" javaType="String" />
	<result property="data5" column="DATA_5" jdbcType="VARCHAR" />
	<result property="autoCode" column="AUTO_CODE" jdbcType="VARCHAR" />
	<result property="data6" column="DATA_6" jdbcType="VARCHAR" />
	<result property="data7" column="DATA_7" jdbcType="VARCHAR" />
	<result property="data8" column="DATA_8" jdbcType="VARCHAR" />
	<result property="creationDate" column="CREATION_DATE" jdbcType="TIMESTAMP" />
	<result property="userCode" column="USER_CODE" jdbcType="VARCHAR" />
	<result property="honorFileName" column="HONOR_FILE_NAME" jdbcType="VARCHAR" />
	<result property="honorDate" column="HONOR_DATE" jdbcType="TIMESTAMP" />
	<result property="requestDate" column="REQUEST_DATE" jdbcType="VARCHAR" />
	<result property="version" column="VERSION" jdbcType="DECIMAL" />
	<result property="modelLevel" column="MODEL_LEVEL" jdbcType="VARCHAR" />
	<result property="tel" column="TEL" jdbcType="DECIMAL" />
	<result property="orgIdentity" column="ORG_IDENTITY" jdbcType="VARCHAR" />
	<result property="modelCity" column="MODEL_CITY" jdbcType="VARCHAR" />
	<result property="modelCompany" column="MODEL_COMPANY" jdbcType="VARCHAR" />
</resultMap>
<sql id="commonColums">
	<trim suffixOverrides=",">
	t1.REQUEST_USER_ID,
	t1.DEPT_NAME,
	t1.DATA_11,
	t1.DATA_10,
	t1.MODEL_COUNTRY,
	t1.MODEL_ECONOMIZE,
	t1.REQUEST_USER,
	t1.LAST_UPDATE_DATE,
	t1.ANNEX,
	t1.HONOR_ORGAN,
	t1.DATA_1,
	t1.DATA_2,
	t1.HONOR_NAME,
	t1.DATA_3,
	t1.DATA_4,
	t1.ID,
	t1.CREATED_DEPT,
	t1.LAST_UPDATE_IP,
	t1.CREATED_BY,
	t1.DEPT_ID,
	t1.DATA_9,
	t1.LAST_UPDATED_BY,
	t1.MODEL_NAME,
	t1.CLOB,
	t1.DATA_5,
	t1.AUTO_CODE,
	t1.DATA_6,
	t1.DATA_7,
	t1.DATA_8,
	t1.CREATION_DATE,
	t1.USER_CODE,
	t1.HONOR_FILE_NAME,
	t1.HONOR_DATE,
	t1.REQUEST_DATE,
	t1.VERSION,
	t1.MODEL_LEVEL,
	t1.TEL,
	t1.ORG_IDENTITY,
	t1.MODEL_CITY,
	t1.MODEL_COMPANY,
	</trim>
</sql>
<!-- 默认查询条件 -->
<sql id="defaultWhereAnd">
	<if test="bean.orgIdentity != null and bean.orgIdentity != ''">
		and t1.org_identity = #{bean.orgIdentity}
	</if>
</sql>
<sql id="commonWhereAnd">
	<if test="bean.requestUserId != null and bean.requestUserId != ''">
		and t1.REQUEST_USER_ID like concat(concat('%',#{bean.requestUserId}),'%')
	</if>
	<if test="bean.deptName != null and bean.deptName != ''">
		and t1.DEPT_NAME like concat(concat('%',#{bean.deptName}),'%')
	</if>
	<if test="bean.data11 != null">
		and t1.DATA_11 = #{bean.data11}
	</if>
	<if test="bean.data10Begin != null">
		and trunc(t1.DATA_10,'yyyy') &gt;= trunc(#{bean.data10Begin},'yyyy')   
	</if>
	<if test="bean.data10End != null">
		and trunc(t1.DATA_10,'yyyy') &lt; trunc(#{bean.data10End},'yyyy')  
	</if>
	<if test="bean.modelCountry != null and bean.modelCountry != ''">
		and t1.MODEL_COUNTRY like concat(concat('%',#{bean.modelCountry}),'%')
	</if>
	<if test="bean.modelEconomize != null and bean.modelEconomize != ''">
		and t1.MODEL_ECONOMIZE like concat(concat('%',#{bean.modelEconomize}),'%')
	</if>
	<if test="bean.requestUser != null and bean.requestUser != ''">
		and t1.REQUEST_USER like concat(concat('%',#{bean.requestUser}),'%')
	</if>
	<if test="bean.lastUpdateDateBegin != null">
		and t1.LAST_UPDATE_DATE &gt;= #{bean.lastUpdateDateBegin}
	</if>
	<if test="bean.lastUpdateDateEnd != null">
		and t1.LAST_UPDATE_DATE &lt;= #{bean.lastUpdateDateEnd}
	</if>
	<if test="bean.annex != null and bean.annex != ''">
		and t1.ANNEX like concat(concat('%',#{bean.annex}),'%')
	</if>
	<if test="bean.honorOrgan != null and bean.honorOrgan != ''">
		and t1.HONOR_ORGAN like concat(concat('%',#{bean.honorOrgan}),'%')
	</if>
	<if test="bean.data1 != null and bean.data1 != ''">
		and t1.DATA_1 like concat(concat('%',#{bean.data1}),'%')
	</if>
	<if test="bean.data2 != null and bean.data2 != ''">
		and t1.DATA_2 like concat(concat('%',#{bean.data2}),'%')
	</if>
	<if test="bean.honorName != null and bean.honorName != ''">
		and t1.HONOR_NAME like concat(concat('%',#{bean.honorName}),'%')
	</if>
	<if test="bean.data3 != null and bean.data3 != ''">
		and t1.DATA_3 like concat(concat('%',#{bean.data3}),'%')
	</if>
	<if test="bean.data4 != null and bean.data4 != ''">
		and t1.DATA_4 like concat(concat('%',#{bean.data4}),'%')
	</if>
	<if test="bean.id != null and bean.id != ''">
		and t1.ID = #{bean.id}
	</if>
	<if test="bean.createdDept != null and bean.createdDept != ''">
		and t1.CREATED_DEPT = #{bean.createdDept}
	</if>
	<if test="bean.lastUpdateIp != null and bean.lastUpdateIp != ''">
		and t1.LAST_UPDATE_IP = #{bean.lastUpdateIp}
	</if>
	<if test="bean.createdBy != null and bean.createdBy != ''">
		and t1.CREATED_BY = #{bean.createdBy}
	</if>
	<if test="bean.deptId != null and bean.deptId != ''">
		and t1.DEPT_ID like concat(concat('%',#{bean.deptId}),'%')
	</if>
	<if test="bean.data9 != null and bean.data9 != ''">
		and t1.DATA_9 like concat(concat('%',#{bean.data9}),'%')
	</if>
	<if test="bean.lastUpdatedBy != null and bean.lastUpdatedBy != ''">
		and t1.LAST_UPDATED_BY = #{bean.lastUpdatedBy}
	</if>
	<if test="bean.modelName != null and bean.modelName != ''">
		and t1.MODEL_NAME like concat(concat('%',#{bean.modelName}),'%')
	</if>
	<if test="bean.clob != null and bean.clob != ''">
		and t1.CLOB like concat(concat('%',#{bean.clob}),'%')
	</if>
	<if test="bean.data5 != null and bean.data5 != ''">
		and t1.DATA_5 like concat(concat('%',#{bean.data5}),'%')
	</if>
	<if test="bean.autoCode != null and bean.autoCode != ''">
		and t1.AUTO_CODE like concat(concat('%',#{bean.autoCode}),'%')
	</if>
	<if test="bean.data6 != null and bean.data6 != ''">
		and t1.DATA_6 like concat(concat('%',#{bean.data6}),'%')
	</if>
	<if test="bean.data7 != null and bean.data7 != ''">
		and t1.DATA_7 like concat(concat('%',#{bean.data7}),'%')
	</if>
	<if test="bean.data8 != null and bean.data8 != ''">
		and t1.DATA_8 like concat(concat('%',#{bean.data8}),'%')
	</if>
	<if test="bean.creationDateBegin != null">
		and t1.CREATION_DATE &gt;= #{bean.creationDateBegin}
	</if>
	<if test="bean.creationDateEnd != null">
		and t1.CREATION_DATE &lt;= #{bean.creationDateEnd}
	</if>
	<if test="bean.userCode != null and bean.userCode != ''">
		and t1.USER_CODE like concat(concat('%',#{bean.userCode}),'%')
	</if>
	<if test="bean.honorFileName != null and bean.honorFileName != ''">
		and t1.HONOR_FILE_NAME like concat(concat('%',#{bean.honorFileName}),'%')
	</if>
	<if test="bean.honorDateBegin != null">
		and t1.HONOR_DATE &gt;= #{bean.honorDateBegin}
	</if>
	<if test="bean.honorDateEnd != null">
		and t1.HONOR_DATE &lt;= #{bean.honorDateEnd}
	</if>
	<if test="bean.requestDate != null and bean.requestDate != ''">
		and t1.REQUEST_DATE like concat(concat('%',#{bean.requestDate}),'%')
	</if>
	<if test="bean.version != null">
		and t1.VERSION = #{bean.version}
	</if>
	<if test="bean.modelLevel != null and bean.modelLevel != ''">
		and t1.MODEL_LEVEL = #{bean.modelLevel}
	</if>
	<if test="bean.tel != null">
		and t1.TEL = #{bean.tel}
	</if>
	<if test="bean.modelCity != null and bean.modelCity != ''">
		and t1.MODEL_CITY like concat(concat('%',#{bean.modelCity}),'%')
	</if>
	<if test="bean.modelCompany != null and bean.modelCompany != ''">
		and t1.MODEL_COMPANY like concat(concat('%',#{bean.modelCompany}),'%')
	</if>
</sql>
<sql id="commonWhereOr">
	<trim prefix="(" suffix=")" prefixOverrides="or">
	<if test="bean.requestUserId != null and bean.requestUserId != ''">
		or t1.REQUEST_USER_ID like concat(concat('%',#{bean.requestUserId}),'%')
	</if>
	<if test="bean.deptName != null and bean.deptName != ''">
		or t1.DEPT_NAME like concat(concat('%',#{bean.deptName}),'%')
	</if>
	<if test="bean.data11 != null">
		or t1.DATA_11 = #{bean.data11}
	</if>
	<if test="bean.data10Begin != null">
		or t1.DATA_10 &gt;= #{bean.data10Begin}
	</if>
	<if test="bean.data10End != null">
		or t1.DATA_10 &lt;= #{bean.data10End}
	</if>
	<if test="bean.modelCountry != null and bean.modelCountry != ''">
		or t1.MODEL_COUNTRY like concat(concat('%',#{bean.modelCountry}),'%')
	</if>
	<if test="bean.modelEconomize != null and bean.modelEconomize != ''">
		or t1.MODEL_ECONOMIZE like concat(concat('%',#{bean.modelEconomize}),'%')
	</if>
	<if test="bean.requestUser != null and bean.requestUser != ''">
		or t1.REQUEST_USER like concat(concat('%',#{bean.requestUser}),'%')
	</if>
	<if test="bean.lastUpdateDateBegin != null">
		or t1.LAST_UPDATE_DATE &gt;= #{bean.lastUpdateDateBegin}
	</if>
	<if test="bean.lastUpdateDateEnd != null">
		or t1.LAST_UPDATE_DATE &lt;= #{bean.lastUpdateDateEnd}
	</if>
	<if test="bean.annex != null and bean.annex != ''">
		or t1.ANNEX like concat(concat('%',#{bean.annex}),'%')
	</if>
	<if test="bean.honorOrgan != null and bean.honorOrgan != ''">
		or t1.HONOR_ORGAN like concat(concat('%',#{bean.honorOrgan}),'%')
	</if>
	<if test="bean.data1 != null and bean.data1 != ''">
		or t1.DATA_1 like concat(concat('%',#{bean.data1}),'%')
	</if>
	<if test="bean.data2 != null and bean.data2 != ''">
		or t1.DATA_2 like concat(concat('%',#{bean.data2}),'%')
	</if>
	<if test="bean.honorName != null and bean.honorName != ''">
		or t1.HONOR_NAME like concat(concat('%',#{bean.honorName}),'%')
	</if>
	<if test="bean.data3 != null and bean.data3 != ''">
		or t1.DATA_3 like concat(concat('%',#{bean.data3}),'%')
	</if>
	<if test="bean.data4 != null and bean.data4 != ''">
		or t1.DATA_4 like concat(concat('%',#{bean.data4}),'%')
	</if>
	<if test="bean.id != null and bean.id != ''">
		or t1.ID = #{bean.id}
	</if>
	<if test="bean.createdDept != null and bean.createdDept != ''">
		or t1.CREATED_DEPT = #{bean.createdDept}
	</if>
	<if test="bean.lastUpdateIp != null and bean.lastUpdateIp != ''">
		or t1.LAST_UPDATE_IP = #{bean.lastUpdateIp}
	</if>
	<if test="bean.createdBy != null and bean.createdBy != ''">
		or t1.CREATED_BY = #{bean.createdBy}
	</if>
	<if test="bean.deptId != null and bean.deptId != ''">
		or t1.DEPT_ID like concat(concat('%',#{bean.deptId}),'%')
	</if>
	<if test="bean.data9 != null and bean.data9 != ''">
		or t1.DATA_9 like concat(concat('%',#{bean.data9}),'%')
	</if>
	<if test="bean.lastUpdatedBy != null and bean.lastUpdatedBy != ''">
		or t1.LAST_UPDATED_BY = #{bean.lastUpdatedBy}
	</if>
	<if test="bean.modelName != null and bean.modelName != ''">
		or t1.MODEL_NAME like concat(concat('%',#{bean.modelName}),'%')
	</if>
	<if test="bean.clob != null and bean.clob != ''">
		or t1.CLOB like concat(concat('%',#{bean.clob}),'%')
	</if>
	<if test="bean.data5 != null and bean.data5 != ''">
		or t1.DATA_5 like concat(concat('%',#{bean.data5}),'%')
	</if>
	<if test="bean.autoCode != null and bean.autoCode != ''">
		or t1.AUTO_CODE like concat(concat('%',#{bean.autoCode}),'%')
	</if>
	<if test="bean.data6 != null and bean.data6 != ''">
		or t1.DATA_6 like concat(concat('%',#{bean.data6}),'%')
	</if>
	<if test="bean.data7 != null and bean.data7 != ''">
		or t1.DATA_7 like concat(concat('%',#{bean.data7}),'%')
	</if>
	<if test="bean.data8 != null and bean.data8 != ''">
		or t1.DATA_8 = #{bean.data8}
	</if>
	<if test="bean.creationDateBegin != null">
		or t1.CREATION_DATE &gt;= #{bean.creationDateBegin}
	</if>
	<if test="bean.creationDateEnd != null">
		or t1.CREATION_DATE &lt;= #{bean.creationDateEnd}
	</if>
	<if test="bean.userCode != null and bean.userCode != ''">
		or t1.USER_CODE like concat(concat('%',#{bean.userCode}),'%')
	</if>
	<if test="bean.honorFileName != null and bean.honorFileName != ''">
		or t1.HONOR_FILE_NAME like concat(concat('%',#{bean.honorFileName}),'%')
	</if>
	<if test="bean.honorDateBegin != null">
		or t1.HONOR_DATE &gt;= #{bean.honorDateBegin}
	</if>
	<if test="bean.honorDateEnd != null">
		or t1.HONOR_DATE &lt;= #{bean.honorDateEnd}
	</if>
	<if test="bean.requestDate != null and bean.requestDate != ''">
		or t1.REQUEST_DATE like concat(concat('%',#{bean.requestDate}),'%')
	</if>
	<if test="bean.version != null">
		or t1.VERSION = #{bean.version}
	</if>
	<if test="bean.modelLevel != null and bean.modelLevel != ''">
		or t1.MODEL_LEVEL = #{bean.modelLevel}
	</if>
	<if test="bean.tel != null">
		or t1.TEL = #{bean.tel}
	</if>
	<if test="bean.modelCity != null and bean.modelCity != ''">
		or t1.MODEL_CITY like concat(concat('%',#{bean.modelCity}),'%')
	</if>
	<if test="bean.modelCompany != null and bean.modelCompany != ''">
		or t1.MODEL_COMPANY like concat(concat('%',#{bean.modelCompany}),'%')
	</if>
	</trim>
</sql>
<sql id="commonOrderBy">
	<choose>
		<when test="pOrderBy != null and pOrderBy != ''">
			order by ${pOrderBy}
		</when>
		<otherwise>
			order by t1.creation_date desc
		</otherwise>
	</choose>
</sql>

<!-- 分页查询 DYN_TU_MODEL_WORKER_F -->
<select id="searchDynTuModelWorkerFByPage" parameterType="java.util.Map" resultMap="DynTuModelWorkerFDTOMap">
	select
	<include refid="commonColums"/>
	from DYN_TU_MODEL_WORKER_F t1
	<where>
		<if test="bean != null">
			<choose>
				<when test="keyWord != null and keyWord != '' ">
					<include refid="commonWhereOr"/>
				</when>
				<otherwise>
					<include refid="commonWhereAnd"/>
				</otherwise>
			</choose>
			<include refid="defaultWhereAnd"/>
		</if>
	</where>
	<include refid="commonOrderBy"></include>
</select>
<!-- 查询列表 DYN_TU_MODEL_WORKER_F -->
<select id="searchDynTuModelWorkerF" parameterType="java.util.Map" resultMap="DynTuModelWorkerFDTOMap">
	select
	<include refid="commonColums"/>
	from DYN_TU_MODEL_WORKER_F t1
	<where>
		<if test="bean != null">
			<choose>
				<when test="keyWord != null and keyWord != '' ">
					<include refid="commonWhereOr"/>
				</when>
				<otherwise>
					<include refid="commonWhereAnd"/>
				</otherwise>
			</choose>
			<include refid="defaultWhereAnd"/>
		</if>
	</where>
	<include refid="commonOrderBy"></include>
</select>
<!-- 查询 DYN_TU_MODEL_WORKER_F（导出） -->
<!-- <select id="searchDynTuModelWorkerFForExport" parameterType="java.util.Map" resultMap="DynTuModelWorkerFDTOMap">
	select
	<include refid="commonColums"/>
	from DYN_TU_MODEL_WORKER_F t1
	<where>
		<if test="bean != null">
			<include refid="commonWhereAnd"/>
			<include refid="defaultWhereAnd"/>
		</if>
		<if test="ids != null and ids.size > 0">
			and t1.id in
			<foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</where>
	order by t1.creation_date desc
</select> -->
<!-- 主键查询对象 DYN_TU_MODEL_WORKER_F -->
<!-- <select id="findDynTuModelWorkerFById" parameterType="java.lang.String" resultMap="DynTuModelWorkerFDTOMap">
	select
	<include refid="commonColums"/>
	from DYN_TU_MODEL_WORKER_F t1
	where t1.id = #{id}
</select> -->
<!-- 新增对象 DYN_TU_MODEL_WORKER_F -->
<!-- <insert id="insertDynTuModelWorkerF" parameterType="avicit.tu.dyntumodelworkerf.dto.DynTuModelWorkerFDTO">
	insert into DYN_TU_MODEL_WORKER_F
	<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="requestUserId != null">
			REQUEST_USER_ID,
		</if>
		<if test="deptName != null">
			DEPT_NAME,
		</if>
		<if test="blob != null">
			BLOB,
		</if>
		<if test="data11 != null">
			DATA_11,
		</if>
		<if test="data10 != null">
			DATA_10,
		</if>
		<if test="modelCountry != null">
			MODEL_COUNTRY,
		</if>
		<if test="modelEconomize != null">
			MODEL_ECONOMIZE,
		</if>
		<if test="requestUser != null">
			REQUEST_USER,
		</if>
		<if test="lastUpdateDate != null">
			LAST_UPDATE_DATE,
		</if>
		<if test="annex != null">
			ANNEX,
		</if>
		<if test="honorOrgan != null">
			HONOR_ORGAN,
		</if>
		<if test="data1 != null">
			DATA_1,
		</if>
		<if test="data2 != null">
			DATA_2,
		</if>
		<if test="honorName != null">
			HONOR_NAME,
		</if>
		<if test="data3 != null">
			DATA_3,
		</if>
		<if test="data4 != null">
			DATA_4,
		</if>
		<if test="id != null">
			ID,
		</if>
		<if test="createdDept != null">
			CREATED_DEPT,
		</if>
		<if test="lastUpdateIp != null">
			LAST_UPDATE_IP,
		</if>
		<if test="createdBy != null">
			CREATED_BY,
		</if>
		<if test="deptId != null">
			DEPT_ID,
		</if>
		<if test="data9 != null">
			DATA_9,
		</if>
		<if test="lastUpdatedBy != null">
			LAST_UPDATED_BY,
		</if>
		<if test="modelName != null">
			MODEL_NAME,
		</if>
		<if test="clob != null">
			CLOB,
		</if>
		<if test="data5 != null">
			DATA_5,
		</if>
		<if test="autoCode != null">
			AUTO_CODE,
		</if>
		<if test="data6 != null">
			DATA_6,
		</if>
		<if test="data7 != null">
			DATA_7,
		</if>
		<if test="data8 != null">
			DATA_8,
		</if>
		<if test="creationDate != null">
			CREATION_DATE,
		</if>
		<if test="userCode != null">
			USER_CODE,
		</if>
		<if test="honorFileName != null">
			HONOR_FILE_NAME,
		</if>
		<if test="honorDate != null">
			HONOR_DATE,
		</if>
		<if test="requestDate != null">
			REQUEST_DATE,
		</if>
		<if test="version != null">
			VERSION,
		</if>
		<if test="modelLevel != null">
			MODEL_LEVEL,
		</if>
		<if test="tel != null">
			TEL,
		</if>
		<if test="orgIdentity != null">
			ORG_IDENTITY,
		</if>
		<if test="modelCity != null">
			MODEL_CITY,
		</if>
		<if test="modelCompany != null">
			MODEL_COMPANY,
		</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="requestUserId != null">
			#{requestUserId,jdbcType = VARCHAR},
		</if>
		<if test="deptName != null">
			#{deptName,jdbcType = VARCHAR},
		</if>
		<if test="blob != null">
			#{blob,jdbcType = BLOB},
		</if>
		<if test="data11 != null">
			#{data11,jdbcType = DECIMAL},
		</if>
		<if test="data10 != null">
			#{data10,jdbcType = TIMESTAMP},
		</if>
		<if test="modelCountry != null">
			#{modelCountry,jdbcType = VARCHAR},
		</if>
		<if test="modelEconomize != null">
			#{modelEconomize,jdbcType = VARCHAR},
		</if>
		<if test="requestUser != null">
			#{requestUser,jdbcType = VARCHAR},
		</if>
		<if test="lastUpdateDate != null">
			#{lastUpdateDate,jdbcType = TIMESTAMP},
		</if>
		<if test="annex != null">
			#{annex,jdbcType = VARCHAR},
		</if>
		<if test="honorOrgan != null">
			#{honorOrgan,jdbcType = VARCHAR},
		</if>
		<if test="data1 != null">
			#{data1,jdbcType = VARCHAR},
		</if>
		<if test="data2 != null">
			#{data2,jdbcType = VARCHAR},
		</if>
		<if test="honorName != null">
			#{honorName,jdbcType = VARCHAR},
		</if>
		<if test="data3 != null">
			#{data3,jdbcType = VARCHAR},
		</if>
		<if test="data4 != null">
			#{data4,jdbcType = VARCHAR},
		</if>
		<if test="id != null">
			#{id,jdbcType = VARCHAR},
		</if>
		<if test="createdDept != null">
			#{createdDept,jdbcType = VARCHAR},
		</if>
		<if test="lastUpdateIp != null">
			#{lastUpdateIp,jdbcType = VARCHAR},
		</if>
		<if test="createdBy != null">
			#{createdBy,jdbcType = VARCHAR},
		</if>
		<if test="deptId != null">
			#{deptId,jdbcType = VARCHAR},
		</if>
		<if test="data9 != null">
			#{data9,jdbcType = VARCHAR},
		</if>
		<if test="lastUpdatedBy != null">
			#{lastUpdatedBy,jdbcType = VARCHAR},
		</if>
		<if test="modelName != null">
			#{modelName,jdbcType = VARCHAR},
		</if>
		<if test="clob != null">
			#{clob,jdbcType = CLOB},
		</if>
		<if test="data5 != null">
			#{data5,jdbcType = VARCHAR},
		</if>
		<if test="autoCode != null">
			#{autoCode,jdbcType = VARCHAR},
		</if>
		<if test="data6 != null">
			#{data6,jdbcType = VARCHAR},
		</if>
		<if test="data7 != null">
			#{data7,jdbcType = VARCHAR},
		</if>
		<if test="data8 != null">
			#{data8,jdbcType = VARCHAR},
		</if>
		<if test="creationDate != null">
			#{creationDate,jdbcType = TIMESTAMP},
		</if>
		<if test="userCode != null">
			#{userCode,jdbcType = VARCHAR},
		</if>
		<if test="honorFileName != null">
			#{honorFileName,jdbcType = VARCHAR},
		</if>
		<if test="honorDate != null">
			#{honorDate,jdbcType = TIMESTAMP},
		</if>
		<if test="requestDate != null">
			#{requestDate,jdbcType = VARCHAR},
		</if>
		<if test="version != null">
			#{version,jdbcType = DECIMAL},
		</if>
		<if test="modelLevel != null">
			#{modelLevel,jdbcType = VARCHAR},
		</if>
		<if test="tel != null">
			#{tel,jdbcType = DECIMAL},
		</if>
		<if test="orgIdentity != null">
			#{orgIdentity,jdbcType = VARCHAR},
		</if>
		<if test="modelCity != null">
			#{modelCity,jdbcType = VARCHAR},
		</if>
		<if test="modelCompany != null">
			#{modelCompany,jdbcType = VARCHAR},
		</if>
	</trim>
</insert> -->
<!-- 批量新增对象 DYN_TU_MODEL_WORKER_F -->
<insert id="insertDynTuModelWorkerFList" parameterType="java.util.List">
	insert into DYN_TU_MODEL_WORKER_F(
	REQUEST_USER_ID ,
	DEPT_NAME ,
	BLOB ,
	DATA_11 ,
	DATA_10 ,
	MODEL_COUNTRY ,
	MODEL_ECONOMIZE ,
	REQUEST_USER ,
	LAST_UPDATE_DATE ,
	ANNEX ,
	HONOR_ORGAN ,
	DATA_1 ,
	DATA_2 ,
	HONOR_NAME ,
	DATA_3 ,
	DATA_4 ,
	ID ,
	CREATED_DEPT ,
	LAST_UPDATE_IP ,
	CREATED_BY ,
	DEPT_ID ,
	DATA_9 ,
	LAST_UPDATED_BY ,
	MODEL_NAME ,
	CLOB ,
	DATA_5 ,
	AUTO_CODE ,
	DATA_6 ,
	DATA_7 ,
	DATA_8 ,
	CREATION_DATE ,
	USER_CODE ,
	HONOR_FILE_NAME ,
	HONOR_DATE ,
	REQUEST_DATE ,
	VERSION ,
	MODEL_LEVEL ,
	TEL ,
	ORG_IDENTITY ,
	MODEL_CITY ,
	MODEL_COMPANY )
<foreach collection="dtoList" item="item" index="index" open="(" separator="union all" close=")">
	select
	#{item.requestUserId,jdbcType = VARCHAR} ,
	#{item.deptName,jdbcType = VARCHAR} ,
	#{item.blob,jdbcType = BLOB} ,
	#{item.data11,jdbcType = DECIMAL} ,
	#{item.data10,jdbcType = TIMESTAMP} ,
	#{item.modelCountry,jdbcType = VARCHAR} ,
	#{item.modelEconomize,jdbcType = VARCHAR} ,
	#{item.requestUser,jdbcType = VARCHAR} ,
	#{item.lastUpdateDate,jdbcType = TIMESTAMP} ,
	#{item.annex,jdbcType = VARCHAR} ,
	#{item.honorOrgan,jdbcType = VARCHAR} ,
	#{item.data1,jdbcType = VARCHAR} ,
	#{item.data2,jdbcType = VARCHAR} ,
	#{item.honorName,jdbcType = VARCHAR} ,
	#{item.data3,jdbcType = VARCHAR} ,
	#{item.data4,jdbcType = VARCHAR} ,
	#{item.id,jdbcType = VARCHAR} ,
	#{item.createdDept,jdbcType = VARCHAR} ,
	#{item.lastUpdateIp,jdbcType = VARCHAR} ,
	#{item.createdBy,jdbcType = VARCHAR} ,
	#{item.deptId,jdbcType = VARCHAR} ,
	#{item.data9,jdbcType = VARCHAR} ,
	#{item.lastUpdatedBy,jdbcType = VARCHAR} ,
	#{item.modelName,jdbcType = VARCHAR} ,
	#{item.clob,jdbcType = CLOB} ,
	#{item.data5,jdbcType = VARCHAR} ,
	#{item.autoCode,jdbcType = VARCHAR} ,
	#{item.data6,jdbcType = VARCHAR} ,
	#{item.data7,jdbcType = VARCHAR} ,
	#{item.data8,jdbcType = VARCHAR} ,
	#{item.creationDate,jdbcType = TIMESTAMP} ,
	#{item.userCode,jdbcType = VARCHAR} ,
	#{item.honorFileName,jdbcType = VARCHAR} ,
	#{item.honorDate,jdbcType = TIMESTAMP} ,
	#{item.requestDate,jdbcType = VARCHAR} ,
	#{item.version,jdbcType = DECIMAL} ,
	#{item.modelLevel,jdbcType = VARCHAR} ,
	#{item.tel,jdbcType = DECIMAL} ,
	#{item.orgIdentity,jdbcType = VARCHAR} ,
	#{item.modelCity,jdbcType = VARCHAR} ,
	#{item.modelCompany,jdbcType = VARCHAR} 	from dual
</foreach>
</insert>
<!-- 更新对象 DYN_TU_MODEL_WORKER_F -->
<update id="updateDynTuModelWorkerFSensitive" parameterType="avicit.tu.dyntumodelworkerf.dto.DynTuModelWorkerFDTO">
	update DYN_TU_MODEL_WORKER_F
	<set>
		<trim suffixOverrides=",">
			<if test="requestUserId != null">
				REQUEST_USER_ID = #{requestUserId,jdbcType = VARCHAR},
			</if>
			<if test="deptName != null">
				DEPT_NAME = #{deptName,jdbcType = VARCHAR},
			</if>
			<if test="blob != null">
				BLOB = #{blob,jdbcType = BLOB},
			</if>
			<if test="data11 != null">
				DATA_11 = #{data11,jdbcType = DECIMAL},
			</if>
			<if test="data10 != null">
				DATA_10 = #{data10,jdbcType = TIMESTAMP},
			</if>
			<if test="modelCountry != null">
				MODEL_COUNTRY = #{modelCountry,jdbcType = VARCHAR},
			</if>
			<if test="modelEconomize != null">
				MODEL_ECONOMIZE = #{modelEconomize,jdbcType = VARCHAR},
			</if>
			<if test="requestUser != null">
				REQUEST_USER = #{requestUser,jdbcType = VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType = TIMESTAMP},
			</if>
			<if test="annex != null">
				ANNEX = #{annex,jdbcType = VARCHAR},
			</if>
			<if test="honorOrgan != null">
				HONOR_ORGAN = #{honorOrgan,jdbcType = VARCHAR},
			</if>
			<if test="data1 != null">
				DATA_1 = #{data1,jdbcType = VARCHAR},
			</if>
			<if test="data2 != null">
				DATA_2 = #{data2,jdbcType = VARCHAR},
			</if>
			<if test="honorName != null">
				HONOR_NAME = #{honorName,jdbcType = VARCHAR},
			</if>
			<if test="data3 != null">
				DATA_3 = #{data3,jdbcType = VARCHAR},
			</if>
			<if test="data4 != null">
				DATA_4 = #{data4,jdbcType = VARCHAR},
			</if>
			<if test="id != null">
				ID = #{id,jdbcType = VARCHAR},
			</if>
			<if test="createdDept != null">
				CREATED_DEPT = #{createdDept,jdbcType = VARCHAR},
			</if>
			<if test="lastUpdateIp != null">
				LAST_UPDATE_IP = #{lastUpdateIp,jdbcType = VARCHAR},
			</if>
			<if test="createdBy != null">
				CREATED_BY = #{createdBy,jdbcType = VARCHAR},
			</if>
			<if test="deptId != null">
				DEPT_ID = #{deptId,jdbcType = VARCHAR},
			</if>
			<if test="data9 != null">
				DATA_9 = #{data9,jdbcType = VARCHAR},
			</if>
			<if test="lastUpdatedBy != null">
				LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType = VARCHAR},
			</if>
			<if test="modelName != null">
				MODEL_NAME = #{modelName,jdbcType = VARCHAR},
			</if>
			<if test="clob != null">
				CLOB = #{clob,jdbcType = CLOB},
			</if>
			<if test="data5 != null">
				DATA_5 = #{data5,jdbcType = VARCHAR},
			</if>
			<if test="autoCode != null">
				AUTO_CODE = #{autoCode,jdbcType = VARCHAR},
			</if>
			<if test="data6 != null">
				DATA_6 = #{data6,jdbcType = VARCHAR},
			</if>
			<if test="data7 != null">
				DATA_7 = #{data7,jdbcType = VARCHAR},
			</if>
			<if test="data8 != null">
				DATA_8 = #{data8,jdbcType = VARCHAR},
			</if>
			<if test="creationDate != null">
				CREATION_DATE = #{creationDate,jdbcType = TIMESTAMP},
			</if>
			<if test="userCode != null">
				USER_CODE = #{userCode,jdbcType = VARCHAR},
			</if>
			<if test="honorFileName != null">
				HONOR_FILE_NAME = #{honorFileName,jdbcType = VARCHAR},
			</if>
			<if test="honorDate != null">
				HONOR_DATE = #{honorDate,jdbcType = TIMESTAMP},
			</if>
			<if test="requestDate != null">
				REQUEST_DATE = #{requestDate,jdbcType = VARCHAR},
			</if>
			<if test="version != null">
				VERSION = version+1,
			</if>
			<if test="modelLevel != null">
				MODEL_LEVEL = #{modelLevel,jdbcType = VARCHAR},
			</if>
			<if test="tel != null">
				TEL = #{tel,jdbcType = DECIMAL},
			</if>
			<if test="orgIdentity != null">
				ORG_IDENTITY = #{orgIdentity,jdbcType = VARCHAR},
			</if>
			<if test="modelCity != null">
				MODEL_CITY = #{modelCity,jdbcType = VARCHAR},
			</if>
			<if test="modelCompany != null">
				MODEL_COMPANY = #{modelCompany,jdbcType = VARCHAR},
			</if>
		</trim>
	</set>
	where id = #{id} 
	and version = #{version}
</update>
<!-- 更新对象 DYN_TU_MODEL_WORKER_F -->
<update id="updateDynTuModelWorkerFAll" parameterType="avicit.tu.dyntumodelworkerf.dto.DynTuModelWorkerFDTO">
	update DYN_TU_MODEL_WORKER_F
	set
	REQUEST_USER_ID = #{requestUserId,jdbcType = VARCHAR} ,
	DEPT_NAME = #{deptName,jdbcType = VARCHAR} ,
	BLOB = #{blob,jdbcType = BLOB} ,
	DATA_11 = #{data11,jdbcType = DECIMAL} ,
	DATA_10 = #{data10,jdbcType = TIMESTAMP} ,
	MODEL_COUNTRY = #{modelCountry,jdbcType = VARCHAR} ,
	MODEL_ECONOMIZE = #{modelEconomize,jdbcType = VARCHAR} ,
	REQUEST_USER = #{requestUser,jdbcType = VARCHAR} ,
	LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType = TIMESTAMP} ,
	ANNEX = #{annex,jdbcType = VARCHAR} ,
	HONOR_ORGAN = #{honorOrgan,jdbcType = VARCHAR} ,
	DATA_1 = #{data1,jdbcType = VARCHAR} ,
	DATA_2 = #{data2,jdbcType = VARCHAR} ,
	HONOR_NAME = #{honorName,jdbcType = VARCHAR} ,
	DATA_3 = #{data3,jdbcType = VARCHAR} ,
	DATA_4 = #{data4,jdbcType = VARCHAR} ,
	ID = #{id,jdbcType = VARCHAR} ,
	CREATED_DEPT = #{createdDept,jdbcType = VARCHAR} ,
	LAST_UPDATE_IP = #{lastUpdateIp,jdbcType = VARCHAR} ,
	CREATED_BY = #{createdBy,jdbcType = VARCHAR} ,
	DEPT_ID = #{deptId,jdbcType = VARCHAR} ,
	DATA_9 = #{data9,jdbcType = VARCHAR} ,
	LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType = VARCHAR} ,
	MODEL_NAME = #{modelName,jdbcType = VARCHAR} ,
	CLOB = #{clob,jdbcType = CLOB} ,
	DATA_5 = #{data5,jdbcType = VARCHAR} ,
	AUTO_CODE = #{autoCode,jdbcType = VARCHAR} ,
	DATA_6 = #{data6,jdbcType = VARCHAR} ,
	DATA_7 = #{data7,jdbcType = VARCHAR} ,
	DATA_8 = #{data8,jdbcType = VARCHAR} ,
	CREATION_DATE = #{creationDate,jdbcType = TIMESTAMP} ,
	USER_CODE = #{userCode,jdbcType = VARCHAR} ,
	HONOR_FILE_NAME = #{honorFileName,jdbcType = VARCHAR} ,
	HONOR_DATE = #{honorDate,jdbcType = TIMESTAMP} ,
	REQUEST_DATE = #{requestDate,jdbcType = VARCHAR} ,
	VERSION = version+1 ,
	MODEL_LEVEL = #{modelLevel,jdbcType = VARCHAR} ,
	TEL = #{tel,jdbcType = DECIMAL} ,
	ORG_IDENTITY = #{orgIdentity,jdbcType = VARCHAR} ,
	MODEL_CITY = #{modelCity,jdbcType = VARCHAR} ,
	MODEL_COMPANY = #{modelCompany,jdbcType = VARCHAR} 	where id = #{id}
	and version = #{version}
</update>
<!-- 批量更新对象   DYN_TU_MODEL_WORKER_F -->
<update id="updateDynTuModelWorkerFList" parameterType="java.util.List">
	<foreach collection="dtoList" item="item" index="index" open="begin" separator=";" close=";end;">
		update DYN_TU_MODEL_WORKER_F
		set
		REQUEST_USER_ID = #{item.requestUserId,jdbcType = VARCHAR} ,
		DEPT_NAME = #{item.deptName,jdbcType = VARCHAR} ,
		BLOB = #{item.blob,jdbcType = BLOB} ,
		DATA_11 = #{item.data11,jdbcType = DECIMAL} ,
		DATA_10 = #{item.data10,jdbcType = TIMESTAMP} ,
		MODEL_COUNTRY = #{item.modelCountry,jdbcType = VARCHAR} ,
		MODEL_ECONOMIZE = #{item.modelEconomize,jdbcType = VARCHAR} ,
		REQUEST_USER = #{item.requestUser,jdbcType = VARCHAR} ,
		LAST_UPDATE_DATE = #{item.lastUpdateDate,jdbcType = TIMESTAMP} ,
		ANNEX = #{item.annex,jdbcType = VARCHAR} ,
		HONOR_ORGAN = #{item.honorOrgan,jdbcType = VARCHAR} ,
		DATA_1 = #{item.data1,jdbcType = VARCHAR} ,
		DATA_2 = #{item.data2,jdbcType = VARCHAR} ,
		HONOR_NAME = #{item.honorName,jdbcType = VARCHAR} ,
		DATA_3 = #{item.data3,jdbcType = VARCHAR} ,
		DATA_4 = #{item.data4,jdbcType = VARCHAR} ,
		ID = #{item.id,jdbcType = VARCHAR} ,
		CREATED_DEPT = #{item.createdDept,jdbcType = VARCHAR} ,
		LAST_UPDATE_IP = #{item.lastUpdateIp,jdbcType = VARCHAR} ,
		CREATED_BY = #{item.createdBy,jdbcType = VARCHAR} ,
		DEPT_ID = #{item.deptId,jdbcType = VARCHAR} ,
		DATA_9 = #{item.data9,jdbcType = VARCHAR} ,
		LAST_UPDATED_BY = #{item.lastUpdatedBy,jdbcType = VARCHAR} ,
		MODEL_NAME = #{item.modelName,jdbcType = VARCHAR} ,
		CLOB = #{item.clob,jdbcType = CLOB} ,
		DATA_5 = #{item.data5,jdbcType = VARCHAR} ,
		AUTO_CODE = #{item.autoCode,jdbcType = VARCHAR} ,
		DATA_6 = #{item.data6,jdbcType = VARCHAR} ,
		DATA_7 = #{item.data7,jdbcType = VARCHAR} ,
		DATA_8 = #{item.data8,jdbcType = VARCHAR} ,
		CREATION_DATE = #{item.creationDate,jdbcType = TIMESTAMP} ,
		USER_CODE = #{item.userCode,jdbcType = VARCHAR} ,
		HONOR_FILE_NAME = #{item.honorFileName,jdbcType = VARCHAR} ,
		HONOR_DATE = #{item.honorDate,jdbcType = TIMESTAMP} ,
		REQUEST_DATE = #{item.requestDate,jdbcType = VARCHAR} ,
		VERSION = version+1  ,
		MODEL_LEVEL = #{item.modelLevel,jdbcType = VARCHAR} ,
		TEL = #{item.tel,jdbcType = DECIMAL} ,
		ORG_IDENTITY = #{item.orgIdentity,jdbcType = VARCHAR} ,
		MODEL_CITY = #{item.modelCity,jdbcType = VARCHAR} ,
		MODEL_COMPANY = #{item.modelCompany,jdbcType = VARCHAR} 		where id = #{item.id}
		and version = #{item.version}
	</foreach>
</update>
<!-- 主键删除 DYN_TU_MODEL_WORKER_F -->
<delete id="deleteDynTuModelWorkerFById" parameterType="java.lang.String">
	delete from DYN_TU_MODEL_WORKER_F  where id = #{id}
</delete>
</mapper>