@font-face {
  font-family: "iconfont"; /* Project id 2631195 */
  src: url('iconfont.eot?t=1627522304613'); /* IE9 */
  src: url('iconfont.eot?t=1627522304613#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1627522304613') format('woff2'),
       url('iconfont.woff?t=1627522304613') format('woff'),
       url('iconfont.ttf?t=1627522304613') format('truetype'),
       url('iconfont.svg?t=1627522304613#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e755";
}

.icon-idcard:before {
  content: "\e7df";
}

.icon-phone:before {
  content: "\e7e3";
}

.icon-apartment:before {
  content: "\e897";
}

.icon-eye:before {
  content: "\e78f";
}

.icon-eye-fill:before {
  content: "\e869";
}

.icon-edit:before {
  content: "\e7e2";
}

.icon-edit-fill:before {
  content: "\e86d";
}

.icon-right:before {
  content: "\e7eb";
}

.icon-left:before {
  content: "\e7ee";
}

.icon-up1:before {
  content: "\e7f1";
}

.icon-down1:before {
  content: "\e7f2";
}

.icon-doubleleft:before {
  content: "\e7f3";
}

.icon-plus-circle:before {
  content: "\e781";
}

.icon-plus-square:before {
  content: "\e797";
}

.icon-plus:before {
  content: "\e8fe";
}

.icon-cloud-download:before {
  content: "\e7d9";
}

.icon-refresh:before {
  content: "\e788";
}

.icon-yajun:before {
  content: "\e682";
}

.icon-guanjun:before {
  content: "\e683";
}

.icon-jijun:before {
  content: "\e684";
}

.icon-an-mail:before {
  content: "\e7de";
}

.icon-an-drop-down:before {
  content: "\e7ed";
}

.icon-an-bank:before {
  content: "\e7c6";
}

.icon-an-customerservice:before {
  content: "\e7ca";
}

.icon-an-flag:before {
  content: "\e7cb";
}

.icon-an-attachment:before {
  content: "\e7e1";
}

.icon-an-caret-right:before {
  content: "\e8ec";
}

.icon-an-caret-left:before {
  content: "\e8ed";
}

.icon-crown:before {
  content: "\e736";
}

.icon-jiangpaijinpai:before {
  content: "\e628";
}

.icon-jiangpaiyinpai:before {
  content: "\e62a";
}

.icon-jiangpaitongpai:before {
  content: "\e62b";
}

.icon-edit-square:before {
  content: "\e791";
}

.icon-upload:before {
  content: "\e7ef";
}

.icon-download:before {
  content: "\e7f0";
}

.icon-yuandian:before {
  content: "\e606";
}

.icon-jindutiao:before {
  content: "\e66a";
}

.icon-shuipingjindutiao:before {
  content: "\e75f";
}

.icon-roundcheckfill:before {
  content: "\e656";
}

.icon-warn:before {
  content: "\e734";
}

.icon-wait-circle-fill:before {
  content: "\ea0b";
}

.icon-down:before {
  content: "\e68d";
}

.icon-up:before {
  content: "\e68e";
}

.icon-setting:before {
  content: "\e874";
}

.icon-an-team:before {
  content: "\e7ae";
}

.icon-an-EXCEL:before {
  content: "\e601";
}

.icon-an-TEXT:before {
  content: "\e605";
}

.icon-an-WORD:before {
  content: "\e608";
}

.icon-line:before {
  content: "\e60e";
}

.icon-fapiaoguanlixitong:before {
  content: "\e681";
}

.icon-an-icon-test:before {
  content: "\e680";
}

.icon-an-touxiangnvhai:before {
  content: "\e6df";
}

.icon-an-feeds:before {
  content: "\e751";
}

.icon-an-tool:before {
  content: "\e769";
}

.icon-an-writing:before {
  content: "\e7a3";
}

.icon-an-tradingdata:before {
  content: "\e7b5";
}

.icon-an-time-circle:before {
  content: "\e784";
}

.icon-an-calendar:before {
  content: "\e7d3";
}

.icon-an-printer:before {
  content: "\e7d8";
}

.icon-an-ellipsis:before {
  content: "\e7fc";
}

.icon-an-Field-time:before {
  content: "\e90e";
}

.icon-an-send:before {
  content: "\e916";
}

.icon-an-PPT:before {
  content: "\e604";
}

.icon-shenhebiaodan:before {
  content: "\e677";
}

.icon-tiaobochukuzhuangxiangsvg:before {
  content: "\e67b";
}

.icon-warehouseOut:before {
  content: "\e67c";
}

.icon-fasongshujubaosong:before {
  content: "\e67d";
}

.icon-report-fill:before {
  content: "\e67e";
}

.icon-warnning:before {
  content: "\e67f";
}

.icon-plus2:before {
  content: "\e600";
}

.icon-financial-report:before {
  content: "\e60d";
}

.icon-ico_bulk_accounting:before {
  content: "\e670";
}

.icon-ico_e_advice:before {
  content: "\e671";
}

.icon-yingyong:before {
  content: "\e672";
}

.icon-ico_product:before {
  content: "\e673";
}

.icon-ico_report_market:before {
  content: "\e675";
}

.icon-ico_loan_management:before {
  content: "\e676";
}

.icon-bus:before {
  content: "\e636";
}

.icon-plant:before {
  content: "\e60c";
}

.icon-assets:before {
  content: "\e67a";
}

.icon-coffee-full:before {
  content: "\e8c8";
}

.icon-outstore:before {
  content: "\e669";
}

.icon-report1:before {
  content: "\e668";
}

.icon-report:before {
  content: "\e667";
}

.icon-detail-list:before {
  content: "\e666";
}

.icon-buydetail:before {
  content: "\e665";
}

.icon-chart:before {
  content: "\e664";
}

.icon-dingdan:before {
  content: "\e663";
}

.icon-sale-detail:before {
  content: "\e662";
}

.icon-fee-report:before {
  content: "\e661";
}

.icon-tianchongxing02:before {
  content: "\e643";
}

.icon-details:before {
  content: "\e626";
}

.icon-plant-fill:before {
  content: "\e66f";
}

.icon-calendar-fill:before {
  content: "\e807";
}

.icon-file-fill:before {
  content: "\e635";
}

.icon-metting-fill:before {
  content: "\e60b";
}

.icon-computer-fill:before {
  content: "\e6d5";
}

.icon-alarm-fill:before {
  content: "\e849";
}

.icon-project-fill:before {
  content: "\e613";
}

.icon-arrow-right:before {
  content: "\e632";
}

.icon-packup:before {
  content: "\e61f";
}

.icon-expand:before {
  content: "\e71c";
}

.icon-search:before {
  content: "\e61d";
}

.icon-card:before {
  content: "\e674";
}

.icon-organize:before {
  content: "\e712";
}

.icon-telphone:before {
  content: "\e6a8";
}

.icon-detail:before {
  content: "\e678";
}

.icon-more:before {
  content: "\e657";
}

.icon-other:before {
  content: "\e63f";
}

.icon-attach:before {
  content: "\e64b";
}

.icon-email:before {
  content: "\e607";
}

.icon-leave1:before {
  content: "\e61c";
}

.icon-metting:before {
  content: "\e62e";
}

.icon-leave:before {
  content: "\e62f";
}

.icon-auditing:before {
  content: "\e631";
}

.icon-project:before {
  content: "\e634";
}

.icon-business:before {
  content: "\e63a";
}

.icon-calendar:before {
  content: "\e6d2";
}

.icon-finish:before {
  content: "\e620";
}

.icon-alarm:before {
  content: "\e609";
}

.icon-pause:before {
  content: "\ea8f";
}

