<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="avicit.cape.pmprojectys.pmprojectyshpj.dao.PmProjectYsHpjDao">

<resultMap id="PmProjectYsHpjDTOMap" type="avicit.cape.pmprojectys.pmprojectyshpj.dto.PmProjectYsHpjDTO">
		<result property="id" column="ID" jdbcType="VARCHAR" />
		<result property="secretLevel" column="SECRET_LEVEL" jdbcType="VARCHAR" />
		<result property="projectId" column="PROJECT_ID" jdbcType="VARCHAR" />
		<result property="projectName" column="PROJECT_NAME" jdbcType="VARCHAR" />
		<result property="taskId" column="TASK_ID" jdbcType="VARCHAR" />
		<result property="taskName" column="TASK_NAME" jdbcType="VARCHAR" />
		<result property="subProjectId" column="SUB_PROJECT_ID" jdbcType="VARCHAR" />
		<result property="subProjectCode" column="SUB_PROJECT_CODE" jdbcType="VARCHAR" />
		<result property="subProjectName" column="SUB_PROJECT_NAME" jdbcType="VARCHAR" />
		<result property="pfGg" column="PF_GG" jdbcType="VARCHAR" />
		<result property="pfXg" column="PF_XG" jdbcType="VARCHAR" />
		<result property="pfXnzb" column="PF_XNZB" jdbcType="VARCHAR" />
		<result property="pfType" column="PF_TYPE" jdbcType="VARCHAR" />
		<result property="pfNum" column="PF_NUM" jdbcType="DECIMAL" />
		<result property="ysGg" column="YS_GG" jdbcType="VARCHAR" />
		<result property="ysXnzb" column="YS_XNZB" jdbcType="VARCHAR" />
		<result property="ysXg" column="YS_XG" jdbcType="VARCHAR" />
		<result property="ysZzcs" column="YS_ZZCS" jdbcType="VARCHAR" />
		<result property="ysCcrqDate" column="YS_CCRQ_DATE" jdbcType="TIMESTAMP" />
		<result property="ysCcbh" column="YS_CCBH" jdbcType="VARCHAR" />
		<result property="ysZysDate" column="YS_ZYS_DATE" jdbcType="TIMESTAMP" />
		<result property="ysDhDate" column="YS_DH_DATE" jdbcType="TIMESTAMP" />
		<result property="ysUser" column="YS_USER" jdbcType="VARCHAR" />
		<result property="ysDept" column="YS_DEPT" jdbcType="VARCHAR" />
		<result property="ysYsjl" column="YS_YSJL" jdbcType="VARCHAR" />
		<result property="ysIdea" column="YS_IDEA" jdbcType="VARCHAR" />
		<result property="hpjDate" column="HPJ_DATE" jdbcType="TIMESTAMP" />
		<result property="hpjDept" column="HPJ_DEPT" jdbcType="VARCHAR" />
		<result property="hpjUser" column="HPJ_USER" jdbcType="VARCHAR" />
		<result property="hpjYyxg" column="HPJ_YYXG" jdbcType="VARCHAR" />
		<result property="hpjSxjz" column="HPJ_SXJZ" jdbcType="VARCHAR" />
		<result property="hpjCzwt" column="HPJ_CZWT" jdbcType="VARCHAR" />
		<result property="createdBy" column="CREATED_BY" jdbcType="VARCHAR" />
		<result property="creationDate" column="CREATION_DATE" jdbcType="TIMESTAMP" />
		<result property="lastUpdatedBy" column="LAST_UPDATED_BY" jdbcType="VARCHAR" />
		<result property="lastUpdateDate" column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" />
		<result property="lastUpdateIp" column="LAST_UPDATE_IP" jdbcType="VARCHAR" />
		<result property="version" column="VERSION" jdbcType="DECIMAL" />
		<result property="createdDept" column="CREATED_DEPT" jdbcType="VARCHAR" />
		<result property="orgIdentity" column="ORG_IDENTITY" jdbcType="VARCHAR" />
		<result property="attribute01" column="ATTRIBUTE_01" jdbcType="VARCHAR" />
		<result property="attribute02" column="ATTRIBUTE_02" jdbcType="VARCHAR" />
		<result property="attribute03" column="ATTRIBUTE_03" jdbcType="VARCHAR" />
		<result property="attribute04" column="ATTRIBUTE_04" jdbcType="VARCHAR" />
		<result property="attribute05" column="ATTRIBUTE_05" jdbcType="VARCHAR" />
		<result property="attribute06" column="ATTRIBUTE_06" jdbcType="VARCHAR" />
		<result property="attribute07" column="ATTRIBUTE_07" jdbcType="DECIMAL" />
		<result property="attribute08" column="ATTRIBUTE_08" jdbcType="DECIMAL" />
		<result property="attribute09" column="ATTRIBUTE_09" jdbcType="TIMESTAMP" />
		<result property="attribute10" column="ATTRIBUTE_10" jdbcType="TIMESTAMP" />
</resultMap>
<!-- 分页查询 PM_PROJECT_YS_HPJ -->
<select id="searchPmProjectYsHpjByPage" parameterType="java.util.Map" resultMap="PmProjectYsHpjDTOMap">
	select
		t1.id                             ,
		t1.secret_level                   ,
		t1.project_id                     ,
		t1.project_name                   ,
		t1.task_id                        ,
		t1.task_name                      ,
		t1.sub_project_id                 ,
		t1.sub_project_code               ,
		t1.sub_project_name               ,
		t1.pf_gg                          ,
		t1.pf_xg                          ,
		t1.pf_xnzb                        ,
		t1.pf_type                        ,
		t1.pf_num                         ,
		t1.ys_gg                          ,
		t1.ys_xnzb                        ,
		t1.ys_xg                          ,
		t1.ys_zzcs                        ,
		t1.ys_ccrq_date                   ,
		t1.ys_ccbh                        ,
		t1.ys_zys_date                    ,
		t1.ys_dh_date                     ,
		t1.ys_user                        ,
		t1.ys_dept                        ,
		t1.ys_ysjl                        ,
		t1.ys_idea                        ,
		t1.hpj_date                       ,
		t1.hpj_dept                       ,
		t1.hpj_user                       ,
		t1.hpj_yyxg                       ,
		t1.hpj_sxjz                       ,
		t1.hpj_czwt                       ,
		t1.created_by                     ,
		t1.creation_date                  ,
		t1.last_updated_by                ,
		t1.last_update_date               ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.created_dept                   ,
		t1.org_identity                   ,
		t1.attribute_01                   ,
		t1.attribute_02                   ,
		t1.attribute_03                   ,
		t1.attribute_04                   ,
		t1.attribute_05                   ,
		t1.attribute_06                   ,
		t1.attribute_07                   ,
		t1.attribute_08                   ,
		t1.attribute_09                   ,
		t1.attribute_10                   
	from pm_project_ys_hpj 	t1
		<where>
			<if test="bean != null">
			<if test="bean.id != null and bean.id != ''">
				and t1.ID =#{bean.id}
			</if>
			<if test="bean.secretLevel != null and bean.secretLevel != ''">
				and t1.SECRET_LEVEL like concat(concat('%',#{bean.secretLevel}),'%') 
			</if>
			<if test="bean.projectId != null and bean.projectId != ''">
				and t1.PROJECT_ID like concat(concat('%',#{bean.projectId}),'%') 
			</if>
			<if test="bean.projectName != null and bean.projectName != ''">
				and t1.PROJECT_NAME like concat(concat('%',#{bean.projectName}),'%') 
			</if>
			<if test="bean.taskId != null and bean.taskId != ''">
				and t1.TASK_ID like concat(concat('%',#{bean.taskId}),'%') 
			</if>
			<if test="bean.taskName != null and bean.taskName != ''">
				and t1.TASK_NAME like concat(concat('%',#{bean.taskName}),'%') 
			</if>
			<if test="bean.subProjectId != null and bean.subProjectId != ''">
				and t1.SUB_PROJECT_ID like concat(concat('%',#{bean.subProjectId}),'%') 
			</if>
			<if test="bean.subProjectCode != null and bean.subProjectCode != ''">
				and t1.SUB_PROJECT_CODE like concat(concat('%',#{bean.subProjectCode}),'%') 
			</if>
			<if test="bean.subProjectName != null and bean.subProjectName != ''">
				and t1.SUB_PROJECT_NAME like concat(concat('%',#{bean.subProjectName}),'%') 
			</if>
			<if test="bean.pfGg != null and bean.pfGg != ''">
				and t1.PF_GG like concat(concat('%',#{bean.pfGg}),'%') 
			</if>
			<if test="bean.pfXg != null and bean.pfXg != ''">
				and t1.PF_XG like concat(concat('%',#{bean.pfXg}),'%') 
			</if>
			<if test="bean.pfXnzb != null and bean.pfXnzb != ''">
				and t1.PF_XNZB like concat(concat('%',#{bean.pfXnzb}),'%') 
			</if>
			<if test="bean.pfType != null and bean.pfType != ''">
				and t1.PF_TYPE like concat(concat('%',#{bean.pfType}),'%') 
			</if>
			<if test="bean.pfNum != null ">
				and t1.PF_NUM like concat(concat('%',#{bean.pfNum}),'%') 
			</if>
			<if test="bean.ysGg != null and bean.ysGg != ''">
				and t1.YS_GG like concat(concat('%',#{bean.ysGg}),'%') 
			</if>
			<if test="bean.ysXnzb != null and bean.ysXnzb != ''">
				and t1.YS_XNZB like concat(concat('%',#{bean.ysXnzb}),'%') 
			</if>
			<if test="bean.ysXg != null and bean.ysXg != ''">
				and t1.YS_XG like concat(concat('%',#{bean.ysXg}),'%') 
			</if>
			<if test="bean.ysZzcs != null and bean.ysZzcs != ''">
				and t1.YS_ZZCS like concat(concat('%',#{bean.ysZzcs}),'%') 
			</if>
			<if test="bean.ysCcrqDateBegin != null and bean.ysCcrqDateBegin != ''">
				and t1.YS_CCRQ_DATE &gt;= #{bean.ysCcrqDateBegin}
			</if>
			<if test="bean.ysCcrqDateEnd != null and bean.ysCcrqDateEnd != ''">
				and t1.YS_CCRQ_DATE &lt;= #{bean.ysCcrqDateEnd}
			</if>
			<if test="bean.ysCcbh != null and bean.ysCcbh != ''">
				and t1.YS_CCBH like concat(concat('%',#{bean.ysCcbh}),'%') 
			</if>
			<if test="bean.ysZysDateBegin != null and bean.ysZysDateBegin != ''">
				and t1.YS_ZYS_DATE &gt;= #{bean.ysZysDateBegin}
			</if>
			<if test="bean.ysZysDateEnd != null and bean.ysZysDateEnd != ''">
				and t1.YS_ZYS_DATE &lt;= #{bean.ysZysDateEnd}
			</if>
			<if test="bean.ysDhDateBegin != null and bean.ysDhDateBegin != ''">
				and t1.YS_DH_DATE &gt;= #{bean.ysDhDateBegin}
			</if>
			<if test="bean.ysDhDateEnd != null and bean.ysDhDateEnd != ''">
				and t1.YS_DH_DATE &lt;= #{bean.ysDhDateEnd}
			</if>
			<if test="bean.ysUser != null and bean.ysUser != ''">
				and t1.YS_USER like concat(concat('%',#{bean.ysUser}),'%') 
			</if>
			<if test="bean.ysDept != null and bean.ysDept != ''">
				and t1.YS_DEPT like concat(concat('%',#{bean.ysDept}),'%') 
			</if>
			<if test="bean.ysYsjl != null and bean.ysYsjl != ''">
				and t1.YS_YSJL like concat(concat('%',#{bean.ysYsjl}),'%') 
			</if>
			<if test="bean.ysIdea != null and bean.ysIdea != ''">
				and t1.YS_IDEA like concat(concat('%',#{bean.ysIdea}),'%') 
			</if>
			<if test="bean.hpjDateBegin != null and bean.hpjDateBegin != ''">
				and t1.HPJ_DATE &gt;= #{bean.hpjDateBegin}
			</if>
			<if test="bean.hpjDateEnd != null and bean.hpjDateEnd != ''">
				and t1.HPJ_DATE &lt;= #{bean.hpjDateEnd}
			</if>
			<if test="bean.hpjDept != null and bean.hpjDept != ''">
				and t1.HPJ_DEPT like concat(concat('%',#{bean.hpjDept}),'%') 
			</if>
			<if test="bean.hpjUser != null and bean.hpjUser != ''">
				and t1.HPJ_USER like concat(concat('%',#{bean.hpjUser}),'%') 
			</if>
			<if test="bean.hpjYyxg != null and bean.hpjYyxg != ''">
				and t1.HPJ_YYXG like concat(concat('%',#{bean.hpjYyxg}),'%') 
			</if>
			<if test="bean.hpjSxjz != null and bean.hpjSxjz != ''">
				and t1.HPJ_SXJZ like concat(concat('%',#{bean.hpjSxjz}),'%') 
			</if>
			<if test="bean.hpjCzwt != null and bean.hpjCzwt != ''">
				and t1.HPJ_CZWT like concat(concat('%',#{bean.hpjCzwt}),'%') 
			</if>
			<if test="bean.createdBy != null and bean.createdBy != ''">
				and t1.CREATED_BY like concat(concat('%',#{bean.createdBy}),'%') 
			</if>
			<if test="bean.creationDate != null and bean.creationDate != ''">
				and t1.CREATION_DATE like concat(concat('%',#{bean.creationDate}),'%') 
			</if>
			<if test="bean.lastUpdatedBy != null and bean.lastUpdatedBy != ''">
				and t1.LAST_UPDATED_BY like concat(concat('%',#{bean.lastUpdatedBy}),'%') 
			</if>
			<if test="bean.lastUpdateDate != null and bean.lastUpdateDate != ''">
				and t1.LAST_UPDATE_DATE like concat(concat('%',#{bean.lastUpdateDate}),'%') 
			</if>
			<if test="bean.lastUpdateIp != null and bean.lastUpdateIp != ''">
				and t1.LAST_UPDATE_IP like concat(concat('%',#{bean.lastUpdateIp}),'%') 
			</if>
			<if test="bean.version != null ">
				and t1.VERSION like concat(concat('%',#{bean.version}),'%') 
			</if>
			<if test="bean.createdDept != null and bean.createdDept != ''">
				and t1.CREATED_DEPT like concat(concat('%',#{bean.createdDept}),'%') 
			</if>
			<if test="bean.orgIdentity != null and bean.orgIdentity != ''">
				and t1.ORG_IDENTITY like concat(concat('%',#{bean.orgIdentity}),'%') 
			</if>
			<if test="bean.attribute01 != null and bean.attribute01 != ''">
				and t1.ATTRIBUTE_01 like concat(concat('%',#{bean.attribute01}),'%') 
			</if>
			<if test="bean.attribute02 != null and bean.attribute02 != ''">
				and t1.ATTRIBUTE_02 like concat(concat('%',#{bean.attribute02}),'%') 
			</if>
			<if test="bean.attribute03 != null and bean.attribute03 != ''">
				and t1.ATTRIBUTE_03 like concat(concat('%',#{bean.attribute03}),'%') 
			</if>
			<if test="bean.attribute04 != null and bean.attribute04 != ''">
				and t1.ATTRIBUTE_04 like concat(concat('%',#{bean.attribute04}),'%') 
			</if>
			<if test="bean.attribute05 != null and bean.attribute05 != ''">
				and t1.ATTRIBUTE_05 like concat(concat('%',#{bean.attribute05}),'%') 
			</if>
			<if test="bean.attribute06 != null and bean.attribute06 != ''">
				and t1.ATTRIBUTE_06 like concat(concat('%',#{bean.attribute06}),'%') 
			</if>
			<if test="bean.attribute07 != null ">
				and t1.ATTRIBUTE_07 like concat(concat('%',#{bean.attribute07}),'%') 
			</if>
			<if test="bean.attribute08 != null ">
				and t1.ATTRIBUTE_08 like concat(concat('%',#{bean.attribute08}),'%') 
			</if>
			<if test="bean.attribute09 != null and bean.attribute09 != ''">
				and t1.ATTRIBUTE_09 like concat(concat('%',#{bean.attribute09}),'%') 
			</if>
			<if test="bean.attribute10 != null and bean.attribute10 != ''">
				and t1.ATTRIBUTE_10 like concat(concat('%',#{bean.attribute10}),'%') 
			</if>
			</if>
			<if test="sfnConditions != null and sfnConditions.sql != ''">
				and ${sfnConditions.sql}			
			</if>
			and t1.ORG_IDENTITY =#{org}
		</where>
			order by t1.creation_date desc
</select>
<!-- 查询列表 PM_PROJECT_YS_HPJ -->
<select id="searchPmProjectYsHpj" parameterType="java.util.Map" resultMap="PmProjectYsHpjDTOMap">
	select
		t1.id                             ,
		t1.secret_level                   ,
		t1.project_id                     ,
		t1.project_name                   ,
		t1.task_id                        ,
		t1.task_name                      ,
		t1.sub_project_id                 ,
		t1.sub_project_code               ,
		t1.sub_project_name               ,
		t1.pf_gg                          ,
		t1.pf_xg                          ,
		t1.pf_xnzb                        ,
		t1.pf_type                        ,
		t1.pf_num                         ,
		t1.ys_gg                          ,
		t1.ys_xnzb                        ,
		t1.ys_xg                          ,
		t1.ys_zzcs                        ,
		t1.ys_ccrq_date                   ,
		t1.ys_ccbh                        ,
		t1.ys_zys_date                    ,
		t1.ys_dh_date                     ,
		t1.ys_user                        ,
		t1.ys_dept                        ,
		t1.ys_ysjl                        ,
		t1.ys_idea                        ,
		t1.hpj_date                       ,
		t1.hpj_dept                       ,
		t1.hpj_user                       ,
		t1.hpj_yyxg                       ,
		t1.hpj_sxjz                       ,
		t1.hpj_czwt                       ,
		t1.created_by                     ,
		t1.creation_date                  ,
		t1.last_updated_by                ,
		t1.last_update_date               ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.created_dept                   ,
		t1.org_identity                   ,
		t1.attribute_01                   ,
		t1.attribute_02                   ,
		t1.attribute_03                   ,
		t1.attribute_04                   ,
		t1.attribute_05                   ,
		t1.attribute_06                   ,
		t1.attribute_07                   ,
		t1.attribute_08                   ,
		t1.attribute_09                   ,
		t1.attribute_10                   
	from pm_project_ys_hpj 	t1
		<where>
			<if test="id != null and id != ''">
				and t1.ID =#{id}
			</if>
			<if test="secretLevel != null and secretLevel != ''">
				and t1.SECRET_LEVEL =#{secretLevel}
			</if>
			<if test="projectId != null and projectId != ''">
				and t1.PROJECT_ID =#{projectId}
			</if>
			<if test="projectName != null and projectName != ''">
				and t1.PROJECT_NAME =#{projectName}
			</if>
			<if test="taskId != null and taskId != ''">
				and t1.TASK_ID =#{taskId}
			</if>
			<if test="taskName != null and taskName != ''">
				and t1.TASK_NAME =#{taskName}
			</if>
			<if test="subProjectId != null and subProjectId != ''">
				and t1.SUB_PROJECT_ID =#{subProjectId}
			</if>
			<if test="subProjectCode != null and subProjectCode != ''">
				and t1.SUB_PROJECT_CODE =#{subProjectCode}
			</if>
			<if test="subProjectName != null and subProjectName != ''">
				and t1.SUB_PROJECT_NAME =#{subProjectName}
			</if>
			<if test="pfGg != null and pfGg != ''">
				and t1.PF_GG =#{pfGg}
			</if>
			<if test="pfXg != null and pfXg != ''">
				and t1.PF_XG =#{pfXg}
			</if>
			<if test="pfXnzb != null and pfXnzb != ''">
				and t1.PF_XNZB =#{pfXnzb}
			</if>
			<if test="pfType != null and pfType != ''">
				and t1.PF_TYPE =#{pfType}
			</if>
			<if test="pfNum != null">
				and t1.PF_NUM =#{pfNum}
			</if>
			<if test="ysGg != null and ysGg != ''">
				and t1.YS_GG =#{ysGg}
			</if>
			<if test="ysXnzb != null and ysXnzb != ''">
				and t1.YS_XNZB =#{ysXnzb}
			</if>
			<if test="ysXg != null and ysXg != ''">
				and t1.YS_XG =#{ysXg}
			</if>
			<if test="ysZzcs != null and ysZzcs != ''">
				and t1.YS_ZZCS =#{ysZzcs}
			</if>
			<if test="ysCcrqDateBegin != null and ysCcrqDateBegin != ''">
				and t1.YS_CCRQ_DATE &gt;= #{ysCcrqDateBegin}
			</if>
			<if test="ysCcrqDateEnd != null and ysCcrqDateEnd != ''">
				and t1.YS_CCRQ_DATE &lt;= #{ysCcrqDateEnd}
			</if>
			<if test="ysCcbh != null and ysCcbh != ''">
				and t1.YS_CCBH =#{ysCcbh}
			</if>
			<if test="ysZysDateBegin != null and ysZysDateBegin != ''">
				and t1.YS_ZYS_DATE &gt;= #{ysZysDateBegin}
			</if>
			<if test="ysZysDateEnd != null and ysZysDateEnd != ''">
				and t1.YS_ZYS_DATE &lt;= #{ysZysDateEnd}
			</if>
			<if test="ysDhDateBegin != null and ysDhDateBegin != ''">
				and t1.YS_DH_DATE &gt;= #{ysDhDateBegin}
			</if>
			<if test="ysDhDateEnd != null and ysDhDateEnd != ''">
				and t1.YS_DH_DATE &lt;= #{ysDhDateEnd}
			</if>
			<if test="ysUser != null and ysUser != ''">
				and t1.YS_USER =#{ysUser}
			</if>
			<if test="ysDept != null and ysDept != ''">
				and t1.YS_DEPT =#{ysDept}
			</if>
			<if test="ysYsjl != null and ysYsjl != ''">
				and t1.YS_YSJL =#{ysYsjl}
			</if>
			<if test="ysIdea != null and ysIdea != ''">
				and t1.YS_IDEA =#{ysIdea}
			</if>
			<if test="hpjDateBegin != null and hpjDateBegin != ''">
				and t1.HPJ_DATE &gt;= #{hpjDateBegin}
			</if>
			<if test="hpjDateEnd != null and hpjDateEnd != ''">
				and t1.HPJ_DATE &lt;= #{hpjDateEnd}
			</if>
			<if test="hpjDept != null and hpjDept != ''">
				and t1.HPJ_DEPT =#{hpjDept}
			</if>
			<if test="hpjUser != null and hpjUser != ''">
				and t1.HPJ_USER =#{hpjUser}
			</if>
			<if test="hpjYyxg != null and hpjYyxg != ''">
				and t1.HPJ_YYXG =#{hpjYyxg}
			</if>
			<if test="hpjSxjz != null and hpjSxjz != ''">
				and t1.HPJ_SXJZ =#{hpjSxjz}
			</if>
			<if test="hpjCzwt != null and hpjCzwt != ''">
				and t1.HPJ_CZWT =#{hpjCzwt}
			</if>
			<if test="createdBy != null and createdBy != ''">
				and t1.CREATED_BY =#{createdBy}
			</if>
			<if test="creationDate != null and creationDate != ''">
				and t1.CREATION_DATE =#{creationDate}
			</if>
			<if test="lastUpdatedBy != null and lastUpdatedBy != ''">
				and t1.LAST_UPDATED_BY =#{lastUpdatedBy}
			</if>
			<if test="lastUpdateDate != null and lastUpdateDate != ''">
				and t1.LAST_UPDATE_DATE =#{lastUpdateDate}
			</if>
			<if test="lastUpdateIp != null and lastUpdateIp != ''">
				and t1.LAST_UPDATE_IP =#{lastUpdateIp}
			</if>
			<if test="version != null">
				and t1.VERSION =#{version}
			</if>
			<if test="createdDept != null and createdDept != ''">
				and t1.CREATED_DEPT =#{createdDept}
			</if>
			<if test="orgIdentity != null and orgIdentity != ''">
				and t1.ORG_IDENTITY =#{orgIdentity}
			</if>
			<if test="attribute01 != null and attribute01 != ''">
				and t1.ATTRIBUTE_01 =#{attribute01}
			</if>
			<if test="attribute02 != null and attribute02 != ''">
				and t1.ATTRIBUTE_02 =#{attribute02}
			</if>
			<if test="attribute03 != null and attribute03 != ''">
				and t1.ATTRIBUTE_03 =#{attribute03}
			</if>
			<if test="attribute04 != null and attribute04 != ''">
				and t1.ATTRIBUTE_04 =#{attribute04}
			</if>
			<if test="attribute05 != null and attribute05 != ''">
				and t1.ATTRIBUTE_05 =#{attribute05}
			</if>
			<if test="attribute06 != null and attribute06 != ''">
				and t1.ATTRIBUTE_06 =#{attribute06}
			</if>
			<if test="attribute07 != null">
				and t1.ATTRIBUTE_07 =#{attribute07}
			</if>
			<if test="attribute08 != null">
				and t1.ATTRIBUTE_08 =#{attribute08}
			</if>
			<if test="attribute09 != null and attribute09 != ''">
				and t1.ATTRIBUTE_09 =#{attribute09}
			</if>
			<if test="attribute10 != null and attribute10 != ''">
				and t1.ATTRIBUTE_10 =#{attribute10}
			</if>
		</where>
</select>
<!-- 主键查询对象 PM_PROJECT_YS_HPJ -->
<select id="findPmProjectYsHpjById" parameterType="java.util.Map" resultMap="PmProjectYsHpjDTOMap">
	select
		t1.id                             ,
		t1.secret_level                   ,
		t1.project_id                     ,
		t1.project_name                   ,
		t1.task_id                        ,
		t1.task_name                      ,
		t1.sub_project_id                 ,
		t1.sub_project_code               ,
		t1.sub_project_name               ,
		t1.pf_gg                          ,
		t1.pf_xg                          ,
		t1.pf_xnzb                        ,
		t1.pf_type                        ,
		t1.pf_num                         ,
		t1.ys_gg                          ,
		t1.ys_xnzb                        ,
		t1.ys_xg                          ,
		t1.ys_zzcs                        ,
		t1.ys_ccrq_date                   ,
		t1.ys_ccbh                        ,
		t1.ys_zys_date                    ,
		t1.ys_dh_date                     ,
		t1.ys_user                        ,
		t1.ys_dept                        ,
		t1.ys_ysjl                        ,
		t1.ys_idea                        ,
		t1.hpj_date                       ,
		t1.hpj_dept                       ,
		t1.hpj_user                       ,
		t1.hpj_yyxg                       ,
		t1.hpj_sxjz                       ,
		t1.hpj_czwt                       ,
		t1.created_by                     ,
		t1.creation_date                  ,
		t1.last_updated_by                ,
		t1.last_update_date               ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.created_dept                   ,
		t1.org_identity                   ,
		t1.attribute_01                   ,
		t1.attribute_02                   ,
		t1.attribute_03                   ,
		t1.attribute_04                   ,
		t1.attribute_05                   ,
		t1.attribute_06                   ,
		t1.attribute_07                   ,
		t1.attribute_08                   ,
		t1.attribute_09                   ,
		t1.attribute_10                   
	from pm_project_ys_hpj 	t1
		where t1.id = #{id}
</select>
<!-- 新增对象 PM_PROJECT_YS_HPJ -->
<insert id="insertPmProjectYsHpj" parameterType="avicit.cape.pmprojectys.pmprojectyshpj.dto.PmProjectYsHpjDTO">
	insert into pm_project_ys_hpj
	<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="secretLevel != null">
				secret_level,
			</if>
			<if test="projectId != null">
				project_id,
			</if>
			<if test="projectName != null">
				project_name,
			</if>
			<if test="taskId != null">
				task_id,
			</if>
			<if test="taskName != null">
				task_name,
			</if>
			<if test="subProjectId != null">
				sub_project_id,
			</if>
			<if test="subProjectCode != null">
				sub_project_code,
			</if>
			<if test="subProjectName != null">
				sub_project_name,
			</if>
			<if test="pfGg != null">
				pf_gg,
			</if>
			<if test="pfXg != null">
				pf_xg,
			</if>
			<if test="pfXnzb != null">
				pf_xnzb,
			</if>
			<if test="pfType != null">
				pf_type,
			</if>
			<if test="pfNum != null">
				pf_num,
			</if>
			<if test="ysGg != null">
				ys_gg,
			</if>
			<if test="ysXnzb != null">
				ys_xnzb,
			</if>
			<if test="ysXg != null">
				ys_xg,
			</if>
			<if test="ysZzcs != null">
				ys_zzcs,
			</if>
			<if test="ysCcrqDate != null">
				ys_ccrq_date,
			</if>
			<if test="ysCcbh != null">
				ys_ccbh,
			</if>
			<if test="ysZysDate != null">
				ys_zys_date,
			</if>
			<if test="ysDhDate != null">
				ys_dh_date,
			</if>
			<if test="ysUser != null">
				ys_user,
			</if>
			<if test="ysDept != null">
				ys_dept,
			</if>
			<if test="ysYsjl != null">
				ys_ysjl,
			</if>
			<if test="ysIdea != null">
				ys_idea,
			</if>
			<if test="hpjDate != null">
				hpj_date,
			</if>
			<if test="hpjDept != null">
				hpj_dept,
			</if>
			<if test="hpjUser != null">
				hpj_user,
			</if>
			<if test="hpjYyxg != null">
				hpj_yyxg,
			</if>
			<if test="hpjSxjz != null">
				hpj_sxjz,
			</if>
			<if test="hpjCzwt != null">
				hpj_czwt,
			</if>
			<if test="createdBy != null">
				created_by,
			</if>
			<if test="creationDate != null">
				creation_date,
			</if>
			<if test="lastUpdatedBy != null">
				last_updated_by,
			</if>
			<if test="lastUpdateDate != null">
				last_update_date,
			</if>
			<if test="lastUpdateIp != null">
				last_update_ip,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="createdDept != null">
				created_dept,
			</if>
			<if test="orgIdentity != null">
				org_identity,
			</if>
			<if test="attribute01 != null">
				attribute_01,
			</if>
			<if test="attribute02 != null">
				attribute_02,
			</if>
			<if test="attribute03 != null">
				attribute_03,
			</if>
			<if test="attribute04 != null">
				attribute_04,
			</if>
			<if test="attribute05 != null">
				attribute_05,
			</if>
			<if test="attribute06 != null">
				attribute_06,
			</if>
			<if test="attribute07 != null">
				attribute_07,
			</if>
			<if test="attribute08 != null">
				attribute_08,
			</if>
			<if test="attribute09 != null">
				attribute_09,
			</if>
			<if test="attribute10 != null">
				attribute_10,
			</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="secretLevel != null">
				#{secretLevel,jdbcType=VARCHAR},
			</if>
			<if test="projectId != null">
				#{projectId,jdbcType=VARCHAR},
			</if>
			<if test="projectName != null">
				#{projectName,jdbcType=VARCHAR},
			</if>
			<if test="taskId != null">
				#{taskId,jdbcType=VARCHAR},
			</if>
			<if test="taskName != null">
				#{taskName,jdbcType=VARCHAR},
			</if>
			<if test="subProjectId != null">
				#{subProjectId,jdbcType=VARCHAR},
			</if>
			<if test="subProjectCode != null">
				#{subProjectCode,jdbcType=VARCHAR},
			</if>
			<if test="subProjectName != null">
				#{subProjectName,jdbcType=VARCHAR},
			</if>
			<if test="pfGg != null">
				#{pfGg,jdbcType=VARCHAR},
			</if>
			<if test="pfXg != null">
				#{pfXg,jdbcType=VARCHAR},
			</if>
			<if test="pfXnzb != null">
				#{pfXnzb,jdbcType=VARCHAR},
			</if>
			<if test="pfType != null">
				#{pfType,jdbcType=VARCHAR},
			</if>
			<if test="pfNum != null">
				#{pfNum,jdbcType=DECIMAL},
			</if>
			<if test="ysGg != null">
				#{ysGg,jdbcType=VARCHAR},
			</if>
			<if test="ysXnzb != null">
				#{ysXnzb,jdbcType=VARCHAR},
			</if>
			<if test="ysXg != null">
				#{ysXg,jdbcType=VARCHAR},
			</if>
			<if test="ysZzcs != null">
				#{ysZzcs,jdbcType=VARCHAR},
			</if>
			<if test="ysCcrqDate != null">
				#{ysCcrqDate,jdbcType=TIMESTAMP},
			</if>
			<if test="ysCcbh != null">
				#{ysCcbh,jdbcType=VARCHAR},
			</if>
			<if test="ysZysDate != null">
				#{ysZysDate,jdbcType=TIMESTAMP},
			</if>
			<if test="ysDhDate != null">
				#{ysDhDate,jdbcType=TIMESTAMP},
			</if>
			<if test="ysUser != null">
				#{ysUser,jdbcType=VARCHAR},
			</if>
			<if test="ysDept != null">
				#{ysDept,jdbcType=VARCHAR},
			</if>
			<if test="ysYsjl != null">
				#{ysYsjl,jdbcType=VARCHAR},
			</if>
			<if test="ysIdea != null">
				#{ysIdea,jdbcType=VARCHAR},
			</if>
			<if test="hpjDate != null">
				#{hpjDate,jdbcType=TIMESTAMP},
			</if>
			<if test="hpjDept != null">
				#{hpjDept,jdbcType=VARCHAR},
			</if>
			<if test="hpjUser != null">
				#{hpjUser,jdbcType=VARCHAR},
			</if>
			<if test="hpjYyxg != null">
				#{hpjYyxg,jdbcType=VARCHAR},
			</if>
			<if test="hpjSxjz != null">
				#{hpjSxjz,jdbcType=VARCHAR},
			</if>
			<if test="hpjCzwt != null">
				#{hpjCzwt,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="creationDate != null">
				#{creationDate},
			</if>
			<if test="lastUpdatedBy != null">
				#{lastUpdatedBy,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				#{lastUpdateDate},
			</if>
			<if test="lastUpdateIp != null">
				#{lastUpdateIp,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				#{version,jdbcType=DECIMAL},
			</if>
			<if test="createdDept != null">
				#{createdDept,jdbcType=VARCHAR},
			</if>
			<if test="orgIdentity != null">
				#{orgIdentity,jdbcType=VARCHAR},
			</if>
			<if test="attribute01 != null">
				#{attribute01,jdbcType=VARCHAR},
			</if>
			<if test="attribute02 != null">
				#{attribute02,jdbcType=VARCHAR},
			</if>
			<if test="attribute03 != null">
				#{attribute03,jdbcType=VARCHAR},
			</if>
			<if test="attribute04 != null">
				#{attribute04,jdbcType=VARCHAR},
			</if>
			<if test="attribute05 != null">
				#{attribute05,jdbcType=VARCHAR},
			</if>
			<if test="attribute06 != null">
				#{attribute06,jdbcType=VARCHAR},
			</if>
			<if test="attribute07 != null">
				#{attribute07,jdbcType=DECIMAL},
			</if>
			<if test="attribute08 != null">
				#{attribute08,jdbcType=DECIMAL},
			</if>
			<if test="attribute09 != null">
				#{attribute09,jdbcType=TIMESTAMP},
			</if>
			<if test="attribute10 != null">
				#{attribute10,jdbcType=TIMESTAMP},
			</if>
	</trim>
</insert>
<!-- 批量新增对象 PM_PROJECT_YS_HPJ -->
<insert id="insertPmProjectYsHpjList" parameterType="java.util.List">
	insert into pm_project_ys_hpj(
			id,
			secret_level,
			project_id,
			project_name,
			task_id,
			task_name,
			sub_project_id,
			sub_project_code,
			sub_project_name,
			pf_gg,
			pf_xg,
			pf_xnzb,
			pf_type,
			pf_num,
			ys_gg,
			ys_xnzb,
			ys_xg,
			ys_zzcs,
			ys_ccrq_date,
			ys_ccbh,
			ys_zys_date,
			ys_dh_date,
			ys_user,
			ys_dept,
			ys_ysjl,
			ys_idea,
			hpj_date,
			hpj_dept,
			hpj_user,
			hpj_yyxg,
			hpj_sxjz,
			hpj_czwt,
			created_by,
			creation_date,
			last_updated_by,
			last_update_date,
			last_update_ip,
			version,
			created_dept,
			org_identity,
			attribute_01,
			attribute_02,
			attribute_03,
			attribute_04,
			attribute_05,
			attribute_06,
			attribute_07,
			attribute_08,
			attribute_09,
			attribute_10)
	<foreach collection="list" item="item" index="index" open="(" separator="union all" close=")">
		select 
					#{item.id,jdbcType=VARCHAR},
					#{item.secretLevel,jdbcType=VARCHAR},
					#{item.projectId,jdbcType=VARCHAR},
					#{item.projectName,jdbcType=VARCHAR},
					#{item.taskId,jdbcType=VARCHAR},
					#{item.taskName,jdbcType=VARCHAR},
					#{item.subProjectId,jdbcType=VARCHAR},
					#{item.subProjectCode,jdbcType=VARCHAR},
					#{item.subProjectName,jdbcType=VARCHAR},
					#{item.pfGg,jdbcType=VARCHAR},
					#{item.pfXg,jdbcType=VARCHAR},
					#{item.pfXnzb,jdbcType=VARCHAR},
					#{item.pfType,jdbcType=VARCHAR},
					#{item.pfNum,jdbcType=DECIMAL},
					#{item.ysGg,jdbcType=VARCHAR},
					#{item.ysXnzb,jdbcType=VARCHAR},
					#{item.ysXg,jdbcType=VARCHAR},
					#{item.ysZzcs,jdbcType=VARCHAR},
					#{item.ysCcrqDate,jdbcType=TIMESTAMP},
					#{item.ysCcbh,jdbcType=VARCHAR},
					#{item.ysZysDate,jdbcType=TIMESTAMP},
					#{item.ysDhDate,jdbcType=TIMESTAMP},
					#{item.ysUser,jdbcType=VARCHAR},
					#{item.ysDept,jdbcType=VARCHAR},
					#{item.ysYsjl,jdbcType=VARCHAR},
					#{item.ysIdea,jdbcType=VARCHAR},
					#{item.hpjDate,jdbcType=TIMESTAMP},
					#{item.hpjDept,jdbcType=VARCHAR},
					#{item.hpjUser,jdbcType=VARCHAR},
					#{item.hpjYyxg,jdbcType=VARCHAR},
					#{item.hpjSxjz,jdbcType=VARCHAR},
					#{item.hpjCzwt,jdbcType=VARCHAR},
					#{item.createdBy,jdbcType=VARCHAR},
					#{item.creationDate},
					#{item.lastUpdatedBy,jdbcType=VARCHAR},
					#{item.lastUpdateDate},
					#{item.lastUpdateIp,jdbcType=VARCHAR},
					#{item.version,jdbcType=DECIMAL},
					#{item.createdDept,jdbcType=VARCHAR},
					#{item.orgIdentity,jdbcType=VARCHAR},
					#{item.attribute01,jdbcType=VARCHAR},
					#{item.attribute02,jdbcType=VARCHAR},
					#{item.attribute03,jdbcType=VARCHAR},
					#{item.attribute04,jdbcType=VARCHAR},
					#{item.attribute05,jdbcType=VARCHAR},
					#{item.attribute06,jdbcType=VARCHAR},
					#{item.attribute07,jdbcType=DECIMAL},
					#{item.attribute08,jdbcType=DECIMAL},
					#{item.attribute09,jdbcType=TIMESTAMP},
					#{item.attribute10,jdbcType=TIMESTAMP}
		from dual 
	</foreach>
</insert>
<!-- 更新对象 PM_PROJECT_YS_HPJ -->
<update id="updatePmProjectYsHpjSensitive" parameterType="avicit.cape.pmprojectys.pmprojectyshpj.dto.PmProjectYsHpjDTO">
	update pm_project_ys_hpj 
	<set>
			<if test="id != null">
				id                             =#{id,jdbcType=VARCHAR},
			</if>
			<if test="secretLevel != null">
				secret_level                   =#{secretLevel,jdbcType=VARCHAR},
			</if>
			<if test="projectId != null">
				project_id                     =#{projectId,jdbcType=VARCHAR},
			</if>
			<if test="projectName != null">
				project_name                   =#{projectName,jdbcType=VARCHAR},
			</if>
			<if test="taskId != null">
				task_id                        =#{taskId,jdbcType=VARCHAR},
			</if>
			<if test="taskName != null">
				task_name                      =#{taskName,jdbcType=VARCHAR},
			</if>
			<if test="subProjectId != null">
				sub_project_id                 =#{subProjectId,jdbcType=VARCHAR},
			</if>
			<if test="subProjectCode != null">
				sub_project_code               =#{subProjectCode,jdbcType=VARCHAR},
			</if>
			<if test="subProjectName != null">
				sub_project_name               =#{subProjectName,jdbcType=VARCHAR},
			</if>
			<if test="pfGg != null">
				pf_gg                          =#{pfGg,jdbcType=VARCHAR},
			</if>
			<if test="pfXg != null">
				pf_xg                          =#{pfXg,jdbcType=VARCHAR},
			</if>
			<if test="pfXnzb != null">
				pf_xnzb                        =#{pfXnzb,jdbcType=VARCHAR},
			</if>
			<if test="pfType != null">
				pf_type                        =#{pfType,jdbcType=VARCHAR},
			</if>
			<if test="pfNum != null">
				pf_num                         =#{pfNum,jdbcType=DECIMAL},
			</if>
			<if test="ysGg != null">
				ys_gg                          =#{ysGg,jdbcType=VARCHAR},
			</if>
			<if test="ysXnzb != null">
				ys_xnzb                        =#{ysXnzb,jdbcType=VARCHAR},
			</if>
			<if test="ysXg != null">
				ys_xg                          =#{ysXg,jdbcType=VARCHAR},
			</if>
			<if test="ysZzcs != null">
				ys_zzcs                        =#{ysZzcs,jdbcType=VARCHAR},
			</if>
			<if test="ysCcrqDate != null">
				ys_ccrq_date                   =#{ysCcrqDate,jdbcType=TIMESTAMP},
			</if>
			<if test="ysCcbh != null">
				ys_ccbh                        =#{ysCcbh,jdbcType=VARCHAR},
			</if>
			<if test="ysZysDate != null">
				ys_zys_date                    =#{ysZysDate,jdbcType=TIMESTAMP},
			</if>
			<if test="ysDhDate != null">
				ys_dh_date                     =#{ysDhDate,jdbcType=TIMESTAMP},
			</if>
			<if test="ysUser != null">
				ys_user                        =#{ysUser,jdbcType=VARCHAR},
			</if>
			<if test="ysDept != null">
				ys_dept                        =#{ysDept,jdbcType=VARCHAR},
			</if>
			<if test="ysYsjl != null">
				ys_ysjl                        =#{ysYsjl,jdbcType=VARCHAR},
			</if>
			<if test="ysIdea != null">
				ys_idea                        =#{ysIdea,jdbcType=VARCHAR},
			</if>
			<if test="hpjDate != null">
				hpj_date                       =#{hpjDate,jdbcType=TIMESTAMP},
			</if>
			<if test="hpjDept != null">
				hpj_dept                       =#{hpjDept,jdbcType=VARCHAR},
			</if>
			<if test="hpjUser != null">
				hpj_user                       =#{hpjUser,jdbcType=VARCHAR},
			</if>
			<if test="hpjYyxg != null">
				hpj_yyxg                       =#{hpjYyxg,jdbcType=VARCHAR},
			</if>
			<if test="hpjSxjz != null">
				hpj_sxjz                       =#{hpjSxjz,jdbcType=VARCHAR},
			</if>
			<if test="hpjCzwt != null">
				hpj_czwt                       =#{hpjCzwt,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				created_by                     =#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="creationDate != null">
				creation_date                  =#{creationDate},
			</if>
			<if test="lastUpdatedBy != null">
				last_updated_by                =#{lastUpdatedBy,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				last_update_date               =#{lastUpdateDate},
			</if>
			<if test="lastUpdateIp != null">
				last_update_ip                 =#{lastUpdateIp,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				version                        =version+1,
			</if>
			<if test="createdDept != null">
				created_dept                   =#{createdDept,jdbcType=VARCHAR},
			</if>
			<if test="orgIdentity != null">
				org_identity                   =#{orgIdentity,jdbcType=VARCHAR},
			</if>
			<if test="attribute01 != null">
				attribute_01                   =#{attribute01,jdbcType=VARCHAR},
			</if>
			<if test="attribute02 != null">
				attribute_02                   =#{attribute02,jdbcType=VARCHAR},
			</if>
			<if test="attribute03 != null">
				attribute_03                   =#{attribute03,jdbcType=VARCHAR},
			</if>
			<if test="attribute04 != null">
				attribute_04                   =#{attribute04,jdbcType=VARCHAR},
			</if>
			<if test="attribute05 != null">
				attribute_05                   =#{attribute05,jdbcType=VARCHAR},
			</if>
			<if test="attribute06 != null">
				attribute_06                   =#{attribute06,jdbcType=VARCHAR},
			</if>
			<if test="attribute07 != null">
				attribute_07                   =#{attribute07,jdbcType=DECIMAL},
			</if>
			<if test="attribute08 != null">
				attribute_08                   =#{attribute08,jdbcType=DECIMAL},
			</if>
			<if test="attribute09 != null">
				attribute_09                   =#{attribute09,jdbcType=TIMESTAMP},
			</if>
			<if test="attribute10 != null">
				attribute_10                   =#{attribute10,jdbcType=TIMESTAMP},
			</if>
	</set>
		where id = #{id} and version =#{version}
</update>
<!-- 更新对象 PM_PROJECT_YS_HPJ -->
<update id="updatePmProjectYsHpjAll" parameterType="avicit.cape.pmprojectys.pmprojectyshpj.dto.PmProjectYsHpjDTO">
	update pm_project_ys_hpj 
		set
			id                             =#{id,jdbcType=VARCHAR},
			secret_level                   =#{secretLevel,jdbcType=VARCHAR},
			project_id                     =#{projectId,jdbcType=VARCHAR},
			project_name                   =#{projectName,jdbcType=VARCHAR},
			task_id                        =#{taskId,jdbcType=VARCHAR},
			task_name                      =#{taskName,jdbcType=VARCHAR},
			sub_project_id                 =#{subProjectId,jdbcType=VARCHAR},
			sub_project_code               =#{subProjectCode,jdbcType=VARCHAR},
			sub_project_name               =#{subProjectName,jdbcType=VARCHAR},
			pf_gg                          =#{pfGg,jdbcType=VARCHAR},
			pf_xg                          =#{pfXg,jdbcType=VARCHAR},
			pf_xnzb                        =#{pfXnzb,jdbcType=VARCHAR},
			pf_type                        =#{pfType,jdbcType=VARCHAR},
			pf_num                         =#{pfNum,jdbcType=DECIMAL},
			ys_gg                          =#{ysGg,jdbcType=VARCHAR},
			ys_xnzb                        =#{ysXnzb,jdbcType=VARCHAR},
			ys_xg                          =#{ysXg,jdbcType=VARCHAR},
			ys_zzcs                        =#{ysZzcs,jdbcType=VARCHAR},
			ys_ccrq_date                   =#{ysCcrqDate,jdbcType=TIMESTAMP},
			ys_ccbh                        =#{ysCcbh,jdbcType=VARCHAR},
			ys_zys_date                    =#{ysZysDate,jdbcType=TIMESTAMP},
			ys_dh_date                     =#{ysDhDate,jdbcType=TIMESTAMP},
			ys_user                        =#{ysUser,jdbcType=VARCHAR},
			ys_dept                        =#{ysDept,jdbcType=VARCHAR},
			ys_ysjl                        =#{ysYsjl,jdbcType=VARCHAR},
			ys_idea                        =#{ysIdea,jdbcType=VARCHAR},
			hpj_date                       =#{hpjDate,jdbcType=TIMESTAMP},
			hpj_dept                       =#{hpjDept,jdbcType=VARCHAR},
			hpj_user                       =#{hpjUser,jdbcType=VARCHAR},
			hpj_yyxg                       =#{hpjYyxg,jdbcType=VARCHAR},
			hpj_sxjz                       =#{hpjSxjz,jdbcType=VARCHAR},
			hpj_czwt                       =#{hpjCzwt,jdbcType=VARCHAR},
			created_by                     =#{createdBy,jdbcType=VARCHAR},
			creation_date                  =#{creationDate},
			last_updated_by                =#{lastUpdatedBy,jdbcType=VARCHAR},
			last_update_date               =#{lastUpdateDate},
			last_update_ip                 =#{lastUpdateIp,jdbcType=VARCHAR},
			version                        =version+1,
			created_dept                   =#{createdDept,jdbcType=VARCHAR},
			org_identity                   =#{orgIdentity,jdbcType=VARCHAR},
			attribute_01                   =#{attribute01,jdbcType=VARCHAR},
			attribute_02                   =#{attribute02,jdbcType=VARCHAR},
			attribute_03                   =#{attribute03,jdbcType=VARCHAR},
			attribute_04                   =#{attribute04,jdbcType=VARCHAR},
			attribute_05                   =#{attribute05,jdbcType=VARCHAR},
			attribute_06                   =#{attribute06,jdbcType=VARCHAR},
			attribute_07                   =#{attribute07,jdbcType=DECIMAL},
			attribute_08                   =#{attribute08,jdbcType=DECIMAL},
			attribute_09                   =#{attribute09,jdbcType=TIMESTAMP},
			attribute_10                   =#{attribute10,jdbcType=TIMESTAMP}
	where id = #{id} and version =#{version}
</update>
<!-- 批量更新对象   PM_PROJECT_YS_HPJ -->
<update id="updatePmProjectYsHpjList" parameterType="java.util.List">
	<foreach collection="dtoList" item="item" index="index" open="begin" separator="" close="end;">
	update pm_project_ys_hpj 
		set
			id                             =#{item.id,jdbcType=VARCHAR},
			secret_level                   =#{item.secretLevel,jdbcType=VARCHAR},
			project_id                     =#{item.projectId,jdbcType=VARCHAR},
			project_name                   =#{item.projectName,jdbcType=VARCHAR},
			task_id                        =#{item.taskId,jdbcType=VARCHAR},
			task_name                      =#{item.taskName,jdbcType=VARCHAR},
			sub_project_id                 =#{item.subProjectId,jdbcType=VARCHAR},
			sub_project_code               =#{item.subProjectCode,jdbcType=VARCHAR},
			sub_project_name               =#{item.subProjectName,jdbcType=VARCHAR},
			pf_gg                          =#{item.pfGg,jdbcType=VARCHAR},
			pf_xg                          =#{item.pfXg,jdbcType=VARCHAR},
			pf_xnzb                        =#{item.pfXnzb,jdbcType=VARCHAR},
			pf_type                        =#{item.pfType,jdbcType=VARCHAR},
			pf_num                         =#{item.pfNum,jdbcType=DECIMAL},
			ys_gg                          =#{item.ysGg,jdbcType=VARCHAR},
			ys_xnzb                        =#{item.ysXnzb,jdbcType=VARCHAR},
			ys_xg                          =#{item.ysXg,jdbcType=VARCHAR},
			ys_zzcs                        =#{item.ysZzcs,jdbcType=VARCHAR},
			ys_ccrq_date                   =#{item.ysCcrqDate,jdbcType=TIMESTAMP},
			ys_ccbh                        =#{item.ysCcbh,jdbcType=VARCHAR},
			ys_zys_date                    =#{item.ysZysDate,jdbcType=TIMESTAMP},
			ys_dh_date                     =#{item.ysDhDate,jdbcType=TIMESTAMP},
			ys_user                        =#{item.ysUser,jdbcType=VARCHAR},
			ys_dept                        =#{item.ysDept,jdbcType=VARCHAR},
			ys_ysjl                        =#{item.ysYsjl,jdbcType=VARCHAR},
			ys_idea                        =#{item.ysIdea,jdbcType=VARCHAR},
			hpj_date                       =#{item.hpjDate,jdbcType=TIMESTAMP},
			hpj_dept                       =#{item.hpjDept,jdbcType=VARCHAR},
			hpj_user                       =#{item.hpjUser,jdbcType=VARCHAR},
			hpj_yyxg                       =#{item.hpjYyxg,jdbcType=VARCHAR},
			hpj_sxjz                       =#{item.hpjSxjz,jdbcType=VARCHAR},
			hpj_czwt                       =#{item.hpjCzwt,jdbcType=VARCHAR},
			created_by                     =#{item.createdBy,jdbcType=VARCHAR},
			creation_date                  =#{item.creationDate},
			last_updated_by                =#{item.lastUpdatedBy,jdbcType=VARCHAR},
			last_update_date               =#{item.lastUpdateDate},
			last_update_ip                 =#{item.lastUpdateIp,jdbcType=VARCHAR},
			version                        =version+1,
			created_dept                   =#{item.createdDept,jdbcType=VARCHAR},
			org_identity                   =#{item.orgIdentity,jdbcType=VARCHAR},
			attribute_01                   =#{item.attribute01,jdbcType=VARCHAR},
			attribute_02                   =#{item.attribute02,jdbcType=VARCHAR},
			attribute_03                   =#{item.attribute03,jdbcType=VARCHAR},
			attribute_04                   =#{item.attribute04,jdbcType=VARCHAR},
			attribute_05                   =#{item.attribute05,jdbcType=VARCHAR},
			attribute_06                   =#{item.attribute06,jdbcType=VARCHAR},
			attribute_07                   =#{item.attribute07,jdbcType=DECIMAL},
			attribute_08                   =#{item.attribute08,jdbcType=DECIMAL},
			attribute_09                   =#{item.attribute09,jdbcType=TIMESTAMP},
			attribute_10                   =#{item.attribute10,jdbcType=TIMESTAMP}
		where id = #{item.id} and version =#{item.version};
	</foreach>
</update>
<!-- 主键删除 PM_PROJECT_YS_HPJ -->
<delete id="deletePmProjectYsHpjById" parameterType="java.lang.String">
		delete from pm_project_ys_hpj  where  id = #{id}
</delete>
<!-- 批量主键删除 PM_PROJECT_YS_HPJ -->
<delete id="deletePmProjectYsHpjList" parameterType="java.util.List">
		delete from pm_project_ys_hpj  t1
		<where>
			<foreach item="idItem" collection="list" open="(" separator="or" close=")">
				t1.id = #{idItem}
			</foreach>
		</where>
</delete>
</mapper>