<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="avicit.pb.organize.partyorganization.dao.PartyOrganizationDAO">
	<resultMap id="PartyOrganizationDTOMap"
		type="avicit.pb.organize.partyorganization.dto.PartyOrganizationDTO">
		<result property="id" column="ID" jdbcType="VARCHAR" />
		<result property="partyCode" column="PARTY_CODE" jdbcType="VARCHAR" />
		<result property="partyName" column="PARTY_NAME" jdbcType="VARCHAR" />
		<result property="isLeadParty" column="IS_LEAD_PARTY" jdbcType="VARCHAR" />
		<result property="createdBy" column="CREATED_BY" jdbcType="VARCHAR" />
		<result property="creationDate" column="CREATION_DATE"
			jdbcType="TIMESTAMP" />
		<result property="lastUpdatedBy" column="LAST_UPDATED_BY"
			jdbcType="VARCHAR" />
		<result property="lastUpdateDate" column="LAST_UPDATE_DATE"
			jdbcType="TIMESTAMP" />
		<result property="lastUpdateIp" column="LAST_UPDATE_IP"
			jdbcType="VARCHAR" />
		<result property="version" column="VERSION" jdbcType="DECIMAL" />
		<result property="orgIdentity" column="ORG_IDENTITY" jdbcType="VARCHAR" />
		<result property="createdDept" column="CREATED_DEPT" jdbcType="VARCHAR" />
		<result property="parentId" column="PARENT_ID" jdbcType="VARCHAR" />
		<result property="treePath" column="TREE_PATH" jdbcType="VARCHAR" />
		<result property="treeSort" column="TREE_SORT" jdbcType="DECIMAL" />
		<result property="treeSorts" column="TREE_SORTS" jdbcType="VARCHAR" />
		<result property="treeLeaf" column="TREE_LEAF" jdbcType="VARCHAR" />
		<result property="treeLevel" column="TREE_LEVEL" jdbcType="DECIMAL" />
		<result property="validFlag" column="VALID_FLAG" jdbcType="VARCHAR" />
		<result property="attribute01" column="ATTRIBUTE_01" jdbcType="VARCHAR" />
		<result property="attribute02" column="ATTRIBUTE_02" jdbcType="VARCHAR" />
		<result property="attribute03" column="ATTRIBUTE_03" jdbcType="VARCHAR" />
		<result property="attribute04" column="ATTRIBUTE_04" jdbcType="VARCHAR" />
		<result property="attribute05" column="ATTRIBUTE_05" jdbcType="VARCHAR" />
		<result property="attribute06" column="ATTRIBUTE_06" jdbcType="VARCHAR" />
		<result property="attribute07" column="ATTRIBUTE_07" jdbcType="VARCHAR" />
		<result property="attribute08" column="ATTRIBUTE_08" jdbcType="VARCHAR" />
		<result property="attribute09" column="ATTRIBUTE_09" jdbcType="VARCHAR" />
		<result property="attribute10" column="ATTRIBUTE_10" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="commonColums">
		t1.ID,
		t1.PARTY_CODE,
		t1.PARTY_NAME,
		t1.IS_LEAD_PARTY,
		t1.CREATED_BY,
		t1.CREATION_DATE,
		t1.LAST_UPDATED_BY,
		t1.LAST_UPDATE_DATE,
		t1.LAST_UPDATE_IP,
		t1.VERSION,
		t1.ORG_IDENTITY,
		t1.CREATED_DEPT,
		t1.PARENT_ID,
		t1.TREE_PATH,
		t1.TREE_SORT,
		t1.TREE_SORTS,
		t1.TREE_LEAF,
		t1.TREE_LEVEL,
		t1.VALID_FLAG,
		t1.ATTRIBUTE_01,
		t1.ATTRIBUTE_02,
		t1.ATTRIBUTE_03,
		t1.ATTRIBUTE_04,
		t1.ATTRIBUTE_05,
		t1.ATTRIBUTE_06,
		t1.ATTRIBUTE_07,
		t1.ATTRIBUTE_08,
		t1.ATTRIBUTE_09,
		t1.ATTRIBUTE_10</sql>

	<!-- 根据主键ID查询 -->
	<select id="findPartyOrganizationById" parameterType="java.lang.String"
		resultMap="PartyOrganizationDTOMap">
		select
		<include refid="commonColums" />
		from PARTY_ORGANIZATION t1
		where t1.ID = #{id}
	</select>
	<!-- 根据partyCode查询 -->
	<select id="findPartyOrganizationByPartyCode" parameterType="java.lang.String"
		resultMap="PartyOrganizationDTOMap">
		select
		<include refid="commonColums" />
		from PARTY_ORGANIZATION t1
		where t1.party_code = #{partyCode}
	</select>

	<!-- 查询子节点数据 -->
	<select id="findChildrenPartyOrganizationById" parameterType="java.lang.String"
		resultMap="PartyOrganizationDTOMap">
		select
		<include refid="commonColums" />
		from PARTY_ORGANIZATION t1
		where t1.PARENT_ID = #{id}
		order by t1.tree_sorts asc
	</select>

	<!-- 查询子节点数据不包括自己 -->
	<select id="findChildrenPartyOrganizationExceptSelfById"
		parameterType="java.lang.String" resultMap="PartyOrganizationDTOMap">
		select
		<include refid="commonColums" />
		from PARTY_ORGANIZATION t1
		where t1.PARENT_ID = #{parentId} and t1.id &lt;&gt; #{id}
		order by t1.tree_sorts asc
	</select>

	<!-- 树节点查询 -->
	<select id="searchPartyOrganization" parameterType="java.util.Map"
		resultMap="PartyOrganizationDTOMap">
		select
		<include refid="commonColums" />
		from PARTY_ORGANIZATION t1
		<where>
			<if test="partyName != null and partyName != ''">
				and t1.PARTY_NAME like concat(concat('%',#{partyName}),'%')
			</if>
			<if test="orgIdentity != null and orgIdentity != ''">
				and t1.org_identity = #{orgIdentity}
			</if>
			<if test="attribute01 != null and attribute01!=''">
				and t1.ATTRIBUTE_01 = #{attribute01}
			</if>
		</where>
		order by t1.tree_sorts asc
	</select>

	<select id="searchPartyOrganizationByIds" parameterType="java.util.List"
		resultMap="PartyOrganizationDTOMap">
		select
		<include refid="commonColums" />
		from PARTY_ORGANIZATION t1
		<where>
			<foreach collection="ids" item="idsItem">
				or t1.id in
				<foreach collection="idsItem" item="id" open="(" separator=","
					close=")">
					#{id}
				</foreach>
			</foreach>
		</where>
		order by t1.tree_sorts asc
	</select>

	<!-- 查询根节点 -->
	<select id="findPartyOrganizationRootNode" parameterType="java.lang.String"
		resultMap="PartyOrganizationDTOMap">
		select
		<include refid="commonColums" />
		from PARTY_ORGANIZATION t1
		<where>
			<if test="orgIdentity != null and orgIdentity != ''">
				and t1.org_identity = #{orgIdentity}
			</if>
			and t1.PARENT_ID = '-1'
		</where>
	</select>

	<!-- 通过treePath获取下属所有子节点 -->
	<select id="findPartyOrganizationByTreePath" parameterType="java.lang.String"
		resultMap="PartyOrganizationDTOMap">
		select
		<include refid="commonColums" />
		from PARTY_ORGANIZATION t1
		<where>
			<if test="treePath != null and treePath != ''">
				and t1.tree_path like concat(#{treePath},'%') and t1.tree_path &lt;&gt;
				#{treePath}
			</if>
		</where>
		order by t1.tree_sorts asc
	</select>

	<!-- 新增对象 PARTY_ORGANIZATION -->
	<insert id="insertPartyOrganization"
		parameterType="avicit.pb.organize.partyorganization.dto.PartyOrganizationDTO">
		insert into PARTY_ORGANIZATION
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="partyCode != null">
				PARTY_CODE,
			</if>
			<if test="partyName != null">
				PARTY_NAME,
			</if>
			<if test="isLeadParty != null">
				IS_LEAD_PARTY,
			</if>
			<if test="createdBy != null">
				CREATED_BY,
			</if>
			<if test="creationDate != null">
				CREATION_DATE,
			</if>
			<if test="lastUpdatedBy != null">
				LAST_UPDATED_BY,
			</if>
			<if test="lastUpdateDate != null">
				LAST_UPDATE_DATE,
			</if>
			<if test="lastUpdateIp != null">
				LAST_UPDATE_IP,
			</if>
			<if test="version != null">
				VERSION,
			</if>
			<if test="orgIdentity != null">
				ORG_IDENTITY,
			</if>
			<if test="createdDept != null">
				CREATED_DEPT,
			</if>
			<if test="parentId != null">
				PARENT_ID,
			</if>
			<if test="treePath != null">
				TREE_PATH,
			</if>
			<if test="treeSort != null">
				TREE_SORT,
			</if>
			<if test="treeSorts != null">
				TREE_SORTS,
			</if>
			<if test="treeLeaf != null">
				TREE_LEAF,
			</if>
			<if test="treeLevel != null">
				TREE_LEVEL,
			</if>
			<if test="validFlag != null">
				VALID_FLAG,
			</if>
			<if test="attribute01 != null">
				ATTRIBUTE_01,
			</if>
			<if test="attribute02 != null">
				ATTRIBUTE_02,
			</if>
			<if test="attribute03 != null">
				ATTRIBUTE_03,
			</if>
			<if test="attribute04 != null">
				ATTRIBUTE_04,
			</if>
			<if test="attribute05 != null">
				ATTRIBUTE_05,
			</if>
			<if test="attribute06 != null">
				ATTRIBUTE_06,
			</if>
			<if test="attribute07 != null">
				ATTRIBUTE_07,
			</if>
			<if test="attribute08 != null">
				ATTRIBUTE_08,
			</if>
			<if test="attribute09 != null">
				ATTRIBUTE_09,
			</if>
			<if test="attribute10 != null">
				ATTRIBUTE_10,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType = VARCHAR},
			</if>
			<if test="partyCode != null">
				#{partyCode,jdbcType = VARCHAR},
			</if>
			<if test="partyName != null">
				#{partyName,jdbcType = VARCHAR},
			</if>
			<if test="isLeadParty != null">
				#{isLeadParty,jdbcType = VARCHAR},
			</if>
			<if test="createdBy != null">
				#{createdBy,jdbcType = VARCHAR},
			</if>
			<if test="creationDate != null">
				#{creationDate,jdbcType = TIMESTAMP},
			</if>
			<if test="lastUpdatedBy != null">
				#{lastUpdatedBy,jdbcType = VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				#{lastUpdateDate,jdbcType = TIMESTAMP},
			</if>
			<if test="lastUpdateIp != null">
				#{lastUpdateIp,jdbcType = VARCHAR},
			</if>
			<if test="version != null">
				#{version,jdbcType = DECIMAL},
			</if>
			<if test="orgIdentity != null">
				#{orgIdentity,jdbcType = VARCHAR},
			</if>
			<if test="createdDept != null">
				#{createdDept,jdbcType = VARCHAR},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType = VARCHAR},
			</if>
			<if test="treePath != null">
				#{treePath,jdbcType = VARCHAR},
			</if>
			<if test="treeSort != null">
				#{treeSort,jdbcType = DECIMAL},
			</if>
			<if test="treeSorts != null">
				#{treeSorts,jdbcType = VARCHAR},
			</if>
			<if test="treeLeaf != null">
				#{treeLeaf,jdbcType = VARCHAR},
			</if>
			<if test="treeLevel != null">
				#{treeLevel,jdbcType = DECIMAL},
			</if>
			<if test="validFlag != null">
				#{validFlag,jdbcType = VARCHAR},
			</if>
			<if test="attribute01 != null">
				#{attribute01,jdbcType = VARCHAR},
			</if>
			<if test="attribute02 != null">
				#{attribute02,jdbcType = VARCHAR},
			</if>
			<if test="attribute03 != null">
				#{attribute03,jdbcType = VARCHAR},
			</if>
			<if test="attribute04 != null">
				#{attribute04,jdbcType = VARCHAR},
			</if>
			<if test="attribute05 != null">
				#{attribute05,jdbcType = VARCHAR},
			</if>
			<if test="attribute06 != null">
				#{attribute06,jdbcType = VARCHAR},
			</if>
			<if test="attribute07 != null">
				#{attribute07,jdbcType = VARCHAR},
			</if>
			<if test="attribute08 != null">
				#{attribute08,jdbcType = VARCHAR},
			</if>
			<if test="attribute09 != null">
				#{attribute09,jdbcType = VARCHAR},
			</if>
			<if test="attribute10 != null">
				#{attribute10,jdbcType = VARCHAR},
			</if>
		</trim>
	</insert>

	<!-- 更新对象 PARTY_ORGANIZATION -->
	<update id="updatePartyOrganizationSensitive"
		parameterType="avicit.pb.organize.partyorganization.dto.PartyOrganizationDTO">
		update PARTY_ORGANIZATION
		<set>
			<trim suffixOverrides=",">
				<if test="id != null">
					ID = #{id,jdbcType = VARCHAR},
				</if>
				<if test="partyCode != null">
					PARTY_CODE = #{partyCode,jdbcType = VARCHAR},
				</if>
				<if test="partyName != null">
					PARTY_NAME = #{partyName,jdbcType = VARCHAR},
				</if>
				<if test="isLeadParty != null">
					IS_LEAD_PARTY = #{isLeadParty,jdbcType = VARCHAR},
				</if>
				<if test="createdBy != null">
					CREATED_BY = #{createdBy,jdbcType = VARCHAR},
				</if>
				<if test="creationDate != null">
					CREATION_DATE = #{creationDate,jdbcType = TIMESTAMP},
				</if>
				<if test="lastUpdatedBy != null">
					LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType = VARCHAR},
				</if>
				<if test="lastUpdateDate != null">
					LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType = TIMESTAMP},
				</if>
				<if test="lastUpdateIp != null">
					LAST_UPDATE_IP = #{lastUpdateIp,jdbcType = VARCHAR},
				</if>
				<if test="version != null">
					VERSION = version+1,
				</if>
				<if test="orgIdentity != null">
					ORG_IDENTITY = #{orgIdentity,jdbcType = VARCHAR},
				</if>
				<if test="createdDept != null">
					CREATED_DEPT = #{createdDept,jdbcType = VARCHAR},
				</if>
				<if test="parentId != null">
					PARENT_ID = #{parentId,jdbcType = VARCHAR},
				</if>
				<if test="treePath != null">
					TREE_PATH = #{treePath,jdbcType = VARCHAR},
				</if>
				<if test="treeSort != null">
					TREE_SORT = #{treeSort,jdbcType = DECIMAL},
				</if>
				<if test="treeSorts != null">
					TREE_SORTS = #{treeSorts,jdbcType = VARCHAR},
				</if>
				<if test="treeLeaf != null">
					TREE_LEAF = #{treeLeaf,jdbcType = VARCHAR},
				</if>
				<if test="treeLevel != null">
					TREE_LEVEL = #{treeLevel,jdbcType = DECIMAL},
				</if>
				<if test="validFlag != null">
					VALID_FLAG = #{validFlag,jdbcType = VARCHAR},
				</if>
				<if test="attribute01 != null">
					ATTRIBUTE_01 = #{attribute01,jdbcType = VARCHAR},
				</if>
				<if test="attribute02 != null">
					ATTRIBUTE_02 = #{attribute02,jdbcType = VARCHAR},
				</if>
				<if test="attribute03 != null">
					ATTRIBUTE_03 = #{attribute03,jdbcType = VARCHAR},
				</if>
				<if test="attribute04 != null">
					ATTRIBUTE_04 = #{attribute04,jdbcType = VARCHAR},
				</if>
				<if test="attribute05 != null">
					ATTRIBUTE_05 = #{attribute05,jdbcType = VARCHAR},
				</if>
				<if test="attribute06 != null">
					ATTRIBUTE_06 = #{attribute06,jdbcType = VARCHAR},
				</if>
				<if test="attribute07 != null">
					ATTRIBUTE_07 = #{attribute07,jdbcType = VARCHAR},
				</if>
				<if test="attribute08 != null">
					ATTRIBUTE_08 = #{attribute08,jdbcType = VARCHAR},
				</if>
				<if test="attribute09 != null">
					ATTRIBUTE_09 = #{attribute09,jdbcType = VARCHAR},
				</if>
				<if test="attribute10 != null">
					ATTRIBUTE_10 = #{attribute10,jdbcType = VARCHAR},
				</if>
			</trim>
		</set>
		where id = #{id}
		and version = #{version}
	</update>

	<!-- 批量更新对象 PARTY_ORGANIZATION -->
	<update id="updatePartyOrganizationList" parameterType="java.util.List">
		<foreach collection="dtoList" item="item" index="index" open="begin"
			separator=";" close=";end;">
			update PARTY_ORGANIZATION
			set
			ID = #{item.id,jdbcType = VARCHAR} ,
			PARTY_CODE = #{item.partyCode,jdbcType = VARCHAR} ,
			PARTY_NAME = #{item.partyName,jdbcType = VARCHAR} ,
			IS_LEAD_PARTY = #{item.isLeadParty,jdbcType = VARCHAR} ,
			CREATED_BY = #{item.createdBy,jdbcType = VARCHAR} ,
			CREATION_DATE = #{item.creationDate,jdbcType = TIMESTAMP} ,
			LAST_UPDATED_BY = #{item.lastUpdatedBy,jdbcType = VARCHAR} ,
			LAST_UPDATE_DATE = #{item.lastUpdateDate,jdbcType = TIMESTAMP} ,
			LAST_UPDATE_IP = #{item.lastUpdateIp,jdbcType = VARCHAR} ,
			VERSION = version+1 ,
			ORG_IDENTITY = #{item.orgIdentity,jdbcType = VARCHAR} ,
			CREATED_DEPT = #{item.createdDept,jdbcType = VARCHAR} ,
			PARENT_ID = #{item.parentId,jdbcType = VARCHAR} ,
			TREE_PATH = #{item.treePath,jdbcType = VARCHAR} ,
			TREE_SORT = #{item.treeSort,jdbcType = DECIMAL} ,
			TREE_SORTS = #{item.treeSorts,jdbcType = VARCHAR} ,
			TREE_LEAF = #{item.treeLeaf,jdbcType = VARCHAR} ,
			TREE_LEVEL = #{item.treeLevel,jdbcType = DECIMAL} ,
			VALID_FLAG = #{item.validFlag,jdbcType = VARCHAR} ,
			ATTRIBUTE_01 = #{item.attribute01,jdbcType = VARCHAR} ,
			ATTRIBUTE_02 = #{item.attribute02,jdbcType = VARCHAR} ,
			ATTRIBUTE_03 = #{item.attribute03,jdbcType = VARCHAR} ,
			ATTRIBUTE_04 = #{item.attribute04,jdbcType = VARCHAR} ,
			ATTRIBUTE_05 = #{item.attribute05,jdbcType = VARCHAR} ,
			ATTRIBUTE_06 = #{item.attribute06,jdbcType = VARCHAR} ,
			ATTRIBUTE_07 = #{item.attribute07,jdbcType = VARCHAR} ,
			ATTRIBUTE_08 = #{item.attribute08,jdbcType = VARCHAR} ,
			ATTRIBUTE_09 = #{item.attribute09,jdbcType = VARCHAR} ,
			ATTRIBUTE_10 = #{item.attribute10,jdbcType = VARCHAR} where id = #{item.id}
			and version = #{item.version}
		</foreach>
	</update>

	<!-- 主键删除 PARTY_ORGANIZATION -->
	<delete id="deletePartyOrganizationById" parameterType="java.lang.String">
		delete from PARTY_ORGANIZATION where id = #{id}
	</delete>

	<!--查询当前父节点下，子节点中最大的treeSort值 -->
	<select id="findMaxTreeSortByParentId" parameterType="java.lang.String"
		resultType="java.lang.Long">
		select MAX(TREE_SORT) from PARTY_ORGANIZATION t1 where t1.PARENT_ID =
		#{parentId}
	</select>
	<select id="partyCount" resultType="Integer">
		select count(*) as party_count from party_member where
		<if test="zt == 5">
			attribute_01 = #{id}
		</if>
		<if test="zt != 5">
			party_id in (
			select id
			from party_organization t
			start with
			t.id = #{id}
			connect by prior t.id = t.parent_id)
		</if>
	</select>
	<select id="partyOrgCount" resultType="Integer">
		select count(*)
		from party_organization where id in (
		select id
		from party_organization t
		start with t.id = #{id}
		connect by prior t.id =
		t.parent_id) and party_name like '%党小组%' and party_name != '无党小组'
	</select>
	<select id="partyPostCount" resultType="Integer">
		select count(*)
		from party_organ_member t1 left join sys_lookup_v v on t1.USER_POST =
		v.lookup_code where party_id in (
		select id
		from party_organization t
		start with t.id = #{id}
		connect by prior t.id =
		t.parent_id) and v.lookup_type = 'PARTY_POST' and lookup_name like
		'%委员%'
	</select>
	<select id="partyPostYycount" resultType="Integer">
		select count(*) from
		DYN_HUANJIE_DYDH t1
		left join dyn_sub_hjxjdydh_3 t2
		ON t1.id =
		t2.fk_sub_col_id
		where t1.party_id = #{id} and t2.DIVISION_LABOR like
		'%委员%'
	</select>

	<select id="partyJwPostCount" resultType="Integer">
		select
		count(*) from party_organ_member t1 left join sys_lookup_v v on
		t1.USER_POST = v.lookup_code where party_id in (
		select id
		from party_organization t
		start with t.id = #{id}
		connect by prior t.id =
		t.parent_id) and v.lookup_type = 'PARTY_POST' and lookup_name like
		'%纪委委员%'
	</select>
	<select id="partyJwPostYycount" resultType="Integer">
		select count(*) from
		DYN_HUANJIE_DYDH t1
		left join dyn_sub_hjxjdydh_3 t2
		ON t1.id = t2.fk_sub_col_id
		where t1.party_id = #{id} and
		t2.DIVISION_LABOR like '%纪委委员%'
	</select>
	<select id="partyJwSjPostCount" resultType="java.lang.String">
		select u.name from party_organ_member t1 left join sys_lookup_v v on
		t1.USER_POST = v.lookup_code
		left join sys_user u on t1.user_id = u.id
		where party_id = #{id} and v.lookup_type = 'PARTY_POST' and
		lookup_name like '%纪委书记%' and rownum =1
	</select>

	<select id="partyPostName" resultType="java.lang.String">
		select u.name from
		party_organ_member t1 left join sys_lookup_v v on t1.USER_POST =
		v.lookup_code
		left join sys_user u on t1.user_id = u.id
		where party_id =
		#{id} and v.lookup_type = 'PARTY_POST' and lookup_name like '%书记%' and
		rownum =1
	</select>
	<select id="partyType" resultType="Integer">
		select PARTY_TYPE from (
		select * from dyn_huanjie_qs
		where party_id = #{id} order by creation_date desc ) where rownum = 1
	</select>

	<select id="partyDate" resultType="java.lang.String">
		select requst_date from
		DYN_HUANJIE_TIXING where party_id = #{id}
	</select>

	<select id="partyBjDate" resultType="java.lang.String">
		select ELECTION_TIME from
		DYN_HUANJIE_DYDH where party_id = #{id}
	</select>

	<select id="partyZc" resultType="java.lang.String">
		select party_name
		from
		party_organization t where t.id != #{id}
		start with t.id = #{id}
		connect by prior t.id = t.parent_id
	</select>

	<select id="avic_count" resultType="Integer">
		select count(*) as avc_count from PARTY_ACTIVIST where
		<if test="zt == 5">
			attribute_08 = #{id}
		</if>
		<if test="zt != 5">
			PARTY_ID in (
			select id from party_organization t start
			with t.id =#{id} connect by prior t.id = t.parent_id
			)
		</if>
	</select>
	<select id="jwOrgName" resultType="java.lang.String">
		select party_name from
		party_organization where
		parent_id = #{id} and attribute_01 = '3'
	</select>

	<select id="gsDwWyCount" resultType="java.lang.String">
		select count(*) from party_organ_member t1
		where party_id = #{id} and user_post = '12'
	</select>

	<select id="partyOrgAllCount" resultType="java.lang.String">
		select count(*) from party_organization t1
		where party_name like '%支部%'
		or party_name like '%党委%'
		and party_name != '中国XXXX党委'
	</select>
	
	<select id="partyOrgJcdwCount" resultType="java.lang.String">
		select count(*) from party_organization t1
		where  party_name like '%党委%'
		and party_name != '中国XXXX党委'
	</select>
	
	<select id="partyOrgDzzCount" resultType="java.lang.String">
		select count(*) from party_organization t1
		where  party_name like '%党总支%'
	</select>
	
	<select id="partyOrgZsdzbCount" resultType="java.lang.String">
		select count(*) from party_organization t1
		where  party_name like '%党支部%' and parent_id = '402811817e482ecb017e483065e4014e'  
	</select>
	
	<select id="partyOrgXsdzbCount" resultType="java.lang.String">
		select count(*) from party_organization t1
		where  party_name like '%党支部%' and parent_id != '402811817e482ecb017e483065e4014e'  
		and ((select party_name from party_organization where id = t1.parent_id) like
       '%党委%' or
       (select party_name from party_organization where id = t1.parent_id) like
       '%党总支%')
	</select>
	
	<select id="partyOrgZsjwCount" resultType="java.lang.String">
		select count(*) from party_organization t1
		where  party_name like '%纪委%' and parent_id != '402811817e482ecb017e483065e4014e'  
	</select>

	<select id="partySessionInfo" resultType="hashmap"  parameterType="java.util.List">
		select count(*) as num, t1.SESSION_TYPE as sessionType, t1.party_type as partyType
		from DYN_PARTY_ORG_INFO t1
		where t1.CREA_TIME &lt;= to_date(#{outtime},'yyyy-mm')
		and t1.crea_time &gt;= to_date(#{sytime},'yyyy-mm')
		group by t1.SESSION_TYPE, t1.party_type
	</select>

	<select id="sexPartyPost"  resultType="java.lang.String">
		select count(*) from DYN_SESSION_WYFG t  where t.USER_SEX = '女'
		and  t.USER_TYPE lisk '%书记%' and t.SESSION_TIME &lt;= to_date(#{outtime},'yyyy-mm')
		 and t.SESSION_TIME &gt;= to_date(#{sytime},'yyyy-mm')
	</select>

	<select id="JwPartyPost"  resultType="java.lang.String">
		select count(*) from DYN_SESSION_WYFG t  where  t.USER_TYPE lisk '%纪委书记%'
		and t.SESSION_TIME &lt;= to_date(#{outtime},'yyyy-mm')
		and t.SESSION_TIME &gt;= to_date(#{sytime},'yyyy-mm')
	</select>

	<select id="zzwyPartyPost"  resultType="java.lang.String">
		select count(*) from DYN_SESSION_WYFG t  where  t.USER_TYPE lisk '%组织委员%'
		and t.SESSION_TIME &lt;= to_date(#{outtime},'yyyy-mm')
		and t.SESSION_TIME &gt;= to_date(#{sytime},'yyyy-mm')
	</select>






</mapper>
